<div class="l-w t cf t-26" data-wnd_typography="">
  <div class="l-bg cf" data-wnd_section_color="">
    <div class="s-bg-l" data-wnd_background="default effects position attachment overlays">
    </div>
  </div>
  <main class="l-m cf">
  <div class="sw cf" id="wnd_SectionWrapper_1_main" data-wnd_mvc_type="wnd.pc.SectionWrapper">
	  <div class="sw-c cf" id="wnd_SectionWrapper_1_main_container">
      <section data-space="true" class="s s-hm s-hm-bdh s-bdh cf sc-m wnd-background-solid wnd-w-narrow wnd-s-normal wnd-h-auto wnd-nh-m wnd-p-cc hn-slogan wn-space-bottom" id="wnd_BlogDetailHeaderSection_blog_detail_header_354469903" data-wnd_mvc_type="wnd.pc.BlogDetailHeaderSection">
        <div class="s-w cf">
	          <div class="s-o cf">
	            <div class="s-bg cf">
                <div class="s-bg-l" data-wnd_section_background="default effects position attachment overlays" style="background-color:#000000">
                </div>
	            </div>
	            <div class="h-c s-c cf">
		            <div class="s-bdh-c b b-s-l b-s-r b-cs cf">
			            <div class="s-bdh-w">
			              <h1 class="s-bdh-t">
                      <div class="ld" id="wnd_ListingDataBlock_199342239"
                      data-wnd_mvc_type="wnd.pc.ListingDataBlock">
	                      <span class="ld-c wnd-touchwysiwyg" data-wnd_text_container="1"
                        id="wnd_ListingDataBlock_199342239_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                          <strong>PRVI KONCERT ADNANA SMAJLOVIĆA</strong>
                        </span>
                      </div>
                    </h1>
			              <span class="s-bdh-d">
                      <div class="ld" id="wnd_ListingDataBlock_904873156"
                      data-wnd_mvc_type="wnd.pc.ListingDataBlock">
	                      <span class="ld-c" data-wnd_text_container="1"
                        id="wnd_ListingDataBlock_904873156_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                        2024-09-28</span>
                      </div>
                      <hr />
                    </span>
			            </div>
		            </div>
	            </div>
	          </div>
        </div>
      </section>
      <section class="s s-basic cf sc-m wnd-background-solid wnd-w-narrow wnd-s-normal wnd-h-auto wn-space-top" id="wnd_Section_default_28690947" data-wnd_mvc_type="wnd.pc.Section" data-wnd_brightness="0" data-wnd_last_section="">
	      <div class="s-w cf">
		      <div class="s-o s-fs cf">
			      <div class="s-bg cf">
				      <div class="s-bg-l" data-wnd_section_background="default effects position attachment overlays" style="background-color:#000000">
				      </div>
			      </div>
			      <div class="s-c s-fs cf">
				      <div class="ez cf" id="wnd_EditZone_905739494" data-wnd_mvc_type="wnd.pc.EditZone">
	              <div class="ez-c" id="wnd_EditZone_905739494_container">
                  <div class="b b-text cf" id="wnd_TextBlock_820197987" data-wnd_mvc_type="wnd.pc.TextBlock">
      	            <div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_TextBlock_820197987_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                      <p>Ado se na scenu probio vrlo snažnim albumom čiji tekstovi su toliko poetični da Vas uvlače u sebe i nakon prvog slušanja.
                        Zahvaljujući svojoj narativnosti, ovaj Vam album neće dosaditi ni nakon što ga odslušate i više puta.
                        Sve u svemu, mislim da je ovo vrlo pažljivo urađen prvi album.
                      </p>
                    </div>
                  </div>
            <picture>
              <source type="image/webp" srcset="https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000047-0a31e0a320/450/IMG_3875.webp?ph=c1a51e7283 332w, https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000047-0a31e0a320/700/IMG_3875.webp?ph=c1a51e7283 516w, https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000047-0a31e0a320/IMG_3875.webp?ph=c1a51e7283 1179w"
              sizes="100vw">
              <img id="wnd_ImageBlock_925601504_img"
              src="https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000046-0f31e0f320/IMG_3875.jpeg?ph=c1a51e7283"
              alt="" width="300" height="400" loading="lazy"
              1style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
            </picture>
            <hr />
            <div class="b-img b-img-lightbox b b-s cf wnd-orientation-portrait wnd-type-image img-s-n" id="wnd_ImageBlock_925601504" data-wnd_mvc_type="wnd.pc.ImageBlock" style="margin-left:29.76%;margin-right:29.76%;" data-wnd_ref_object="23">
	<a class="litebox b-img-a" href="https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000046-0f31e0f320/IMG_3875.jpeg"
  width="300px" height="400px" title="">
		<div class="b-img-w">
			<div class="b-img-c wnd-image-container" style="1padding-bottom:135.71%;text-align:center;" id="wnd_ImageBlock_925601504_container">
			</div>
		</div>
	</a>
            </div>
            <div class="b b-text cf" id="wnd_TextBlock_607321371" data-wnd_mvc_type="wnd.pc.TextBlock">
	<div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_TextBlock_607321371_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
    <p class="" id="wnd_TextBlock_607321371_inner_0" data-wnd_is_separable="1" data-wnd_separable_index="0" data-wnd_separable_id="wnd_TextBlock_607321371">
      <strong>Kob</strong></p>
      <p class="" id="wnd_TextBlock_607321371_inner_1" data-wnd_is_separable="1" data-wnd_separable_index="1" data-wnd_separable_id="wnd_TextBlock_607321371">
        Dok gledam vatru i gorim kriomice</p>
      <p class="" id="wnd_TextBlock_607321371_inner_2" data-wnd_is_separable="1" data-wnd_separable_index="2" data-wnd_separable_id="wnd_TextBlock_607321371">
        Možda ću u sebi pobjediti vuka</p>
      <p class="" id="wnd_TextBlock_607321371_inner_3" data-wnd_is_separable="1" data-wnd_separable_index="3" data-wnd_separable_id="wnd_TextBlock_607321371">
        Popunjen praznim, u snu bez zvuka</p>
      <p class="" id="wnd_TextBlock_607321371_inner_4" data-wnd_is_separable="1" data-wnd_separable_index="4" data-wnd_separable_id="wnd_TextBlock_607321371">
        Nebo je ostalo bez voljene ptice</p>
      <p class="" id="wnd_TextBlock_607321371_inner_5" data-wnd_is_separable="1" data-wnd_separable_index="5" data-wnd_separable_id="wnd_TextBlock_607321371"><br /></p>
      <p class="" id="wnd_TextBlock_607321371_inner_6" data-wnd_is_separable="1" data-wnd_separable_index="6" data-wnd_separable_id="wnd_TextBlock_607321371">
        Rijekom mutnom i dalje plivam</p>
      <p class="" id="wnd_TextBlock_607321371_inner_7" data-wnd_is_separable="1" data-wnd_separable_index="7" data-wnd_separable_id="wnd_TextBlock_607321371">
        Obale mame, a skrivaju blato</p>
      <p class="" id="wnd_TextBlock_607321371_inner_8" data-wnd_is_separable="1" data-wnd_separable_index="8" data-wnd_separable_id="wnd_TextBlock_607321371">
        U sebe izronim a mene jato</p>
      <p class="" id="wnd_TextBlock_607321371_inner_9" data-wnd_is_separable="1" data-wnd_separable_index="9" data-wnd_separable_id="wnd_TextBlock_607321371">
        U svome mraku siguran bivam</p>
      <p class="" id="wnd_TextBlock_607321371_inner_10" data-wnd_is_separable="1" data-wnd_separable_index="10" data-wnd_separable_id="wnd_TextBlock_607321371"><br /></p>
      <p class="" id="wnd_TextBlock_607321371_inner_11" data-wnd_is_separable="1" data-wnd_separable_index="11" data-wnd_separable_id="wnd_TextBlock_607321371">
        Samo se cvjetovi prošlosti stide</p>
      <p class="" id="wnd_TextBlock_607321371_inner_12" data-wnd_is_separable="1" data-wnd_separable_index="12" data-wnd_separable_id="wnd_TextBlock_607321371">
        Sve dok ne postanemo prašina i jedno</p>
      <p class="" id="wnd_TextBlock_607321371_inner_13" data-wnd_is_separable="1" data-wnd_separable_index="13" data-wnd_separable_id="wnd_TextBlock_607321371">
        Put zanemari svrhu putovanja</p>
      <p class="" id="wnd_TextBlock_607321371_inner_14" data-wnd_is_separable="1" data-wnd_separable_index="14" data-wnd_separable_id="wnd_TextBlock_607321371"><br /></p>
      <p class="" id="wnd_TextBlock_607321371_inner_15" data-wnd_is_separable="1" data-wnd_separable_index="15" data-wnd_separable_id="wnd_TextBlock_607321371">
        Umornoj duši prostori zavide</p>
      <p class="" id="wnd_TextBlock_607321371_inner_16" data-wnd_is_separable="1" data-wnd_separable_index="16" data-wnd_separable_id="wnd_TextBlock_607321371">
        Kako je dodir vapio žedno</p>
      <p class="" id="wnd_TextBlock_607321371_inner_17" data-wnd_is_separable="1" data-wnd_separable_index="17" data-wnd_separable_id="wnd_TextBlock_607321371">
        Za promjenom i odsustvom strahovanja</p>
<hr /><br />
</div>
            </div>
            <div class="cw cf" id="wnd_ContentZoneColWrapper_825527745" data-wnd_mvc_type="wnd.pc.ContentZoneColWrapper">
	<div class="cw-c cf" id="wnd_ContentZoneColWrapper_825527745_container">
    <div class="c cf" id="wnd_ContentZoneCol_736787441" data-wnd_mvc_type="wnd.pc.ContentZoneCol" style="width:50%;">
	    <div class="c-c cf" id="wnd_ContentZoneCol_736787441_container">
        <div class="mt mt-pricelist b-s cf" id="wnd_MicroTemplate_pricelist_228740979" data-wnd_mvc_type="wnd.pc.MicroTemplate">
	        <div class="mt-c cf" id="wnd_MicroTemplate_pricelist_228740979_container">
		        <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>1.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Odbrana</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:42</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>2.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Vuk</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>4:15</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>3.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Popunjen praznim</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:52</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>4.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Nebo</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>2:52</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>5.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Rijeka</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>2:52</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>6.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Obale</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>2:22</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>7.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Jato</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>4:25</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>8.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      U sebi</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:25</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>9.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Cvjetovi</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:55</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>10.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Prašina</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>4:55</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>11.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Put</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:52</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>12.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Umornoj duši</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:11</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>13.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Dodir</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>3:33</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>14.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Promjena</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>4:12</h6>
                  </div>
                </div>
			        </div>
		        </div>
            <div class="mt-i cf" id="wnd_MicroTemplateCell_pricelist_279481521"data-wnd_mvc_type="wnd.pc.MicroTemplateCell" data-wnd_ref_object="5">
			        <div class="mt-i-c cf mt-border line-color">
				        <div class="b b-text cf" id="wnd_TextBlock_318463827" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div class="" data-wnd_text_container="1"
                  id="wnd_TextBlock_318463827_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h5>15.<strong>&nbsp;</strong>
                    <strong style="font-size: 0.95rem; text-align: inherit; color: rgba(255, 255, 255, 0.8);
                    letter-spacing: -0.02em;">
                      Kob</strong></h5>
                  </div>
                </div>
				        <div class="" id="wnd_TextBlock_973886427" data-wnd_mvc_type="wnd.pc.TextBlock">
  	              <div class="" data-wnd_text_container="1" id="wnd_TextBlock_973886427_wsw"
                  data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <h6>4:44</h6>
                  </div>
                </div>
			        </div>
		        </div>
	        </div>
        </div>
      </div>
    </div>
    <div class="c cf" id="wnd_ContentZoneCol_988895485" data-wnd_mvc_type="wnd.pc.ContentZoneCol"
    style="width:50%;">
    </div>
  </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
