<section data-space="true" class="s s-hm s-hm-bdh s-bdh cf sc-m wnd-background-solid wnd-w-narrow wnd-s-normal wnd-h-auto wnd-nh-m wnd-p-cc hn-slogan wn-space-bottom" id="wnd_BlogDetailHeaderSection_blog_detail_header_354469903" data-wnd_mvc_type="wnd.pc.BlogDetailHeaderSection">
  <div class="s-w cf">
    <div class="s-o cf">
      <div class="s-bg cf">
        <div class="s-bg-l" data-wnd_section_background="default effects position attachment overlays" style="background-color:#000000">
        </div>
      </div>
      <div class="h-c s-c cf">
        <div class="s-bdh-c b b-s-l b-s-r b-cs cf">
          <div class="s-bdh-w">
            <h1 class="s-bdh-t">
              <div class="ld" id="wnd_ListingDataBlock_199342239"
                data-wnd_mvc_type="wnd.pc.ListingDataBlock">
                <span class="ld-c wnd-touchwysiwyg" data-wnd_text_container="1"
                  id="wnd_ListingDataBlock_199342239_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                  <strong>O meni</strong>
                </span>
              </div>
            </h1>
            <span class="s-bdh-d">
              <div class="ld" id="wnd_ListingDataBlock_904873156"
                data-wnd_mvc_type="wnd.pc.ListingDataBlock">
                <span class="ld-c" data-wnd_text_container="1"
                  id="wnd_ListingDataBlock_904873156_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                  2024-09-30</span>
              </div>
              <hr />
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-4 clearfix">
        <div class="col-8 col-sm-8 col-md-9 col-lg-9">
          <h5 class="mt-0 mb-1">
            <strong>Prvi kontakt Srđana Vidovića</strong>
          </h5>
          <a href="/home/about" class="nav-link">
            Kontakt je dobra stavka!</a>
        </div>
        <div class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
          <picture>
            <source type="image/webp" srcset="https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000047-0a31e0a320/450/IMG_3875.webp?ph=c1a51e7283 332w, https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000047-0a31e0a320/700/IMG_3875.webp?ph=c1a51e7283 516w, https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000047-0a31e0a320/IMG_3875.webp?ph=c1a51e7283 1179w"
            sizes="100vw">
            <img id="wnd_ImageBlock_925601504_img"
            src="https://c1a51e7283.cbaul-cdnwnd.com/e50806c76c81f7540fd21d389341e6ad/200000046-0f31e0f320/IMG_3875.jpeg?ph=c1a51e7283"
            alt="" width="400px" height="auto" loading="lazy"
            1style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="1row 1mt-4 1clearfix s-w cf">
		<div class="1row 1mt-4 1clearfix s-fs cf">
			<div class="1row 1mt-4 1clearfix s-bg cf">
				<div class="s-os-bg-l" data-wnd_section_background="default effects position attachment overlays" style="background-color:#000000">
				</div>
			</div>
			<div class="s-fs cf">
				<div class="cf" id="wnd_EditZone_787086379" data-wnd_mvc_type="wnd.pc.EditZone">
	        <div class="ez-c" id="wnd_EditZone_787086379_container"><div class="b-sp b b-s cf wnd-hide-placeholder" id="wnd_SpacingBlock_999266260" data-wnd_mvc_type="wnd.pc.SpacingBlock" style="margin-left: 0%; margin-right: 0%;">
            <div class="b-sp-c" id="wnd_SpacingBlock_999266260_container" style="position:relative;padding-bottom:0%;">
              <div class="b-sp-placeholder">
                <span class="b-sp-placeholder-text">
                  Prazan blok
                </span>
              </div>
            </div>
          </div>
          <div class="b b-text cf" id="wnd_TextBlock_311503534" data-wnd_mvc_type="wnd.pc.TextBlock">
	          <div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf wnd-touchwysiwyg" data-wnd_text_container="1"
            id="wnd_TextBlock_311503534_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
              <h1 style="text-align: left;" id="wnd_TextBlock_311503534_inner_0" data-wnd_is_separable="1"
              data-wnd_separable_index="0" data-wnd_separable_id="wnd_TextBlock_311503534">
              <strong>Kontaktirajte me</strong>
              </h1>
              <p style="text-align:left" id="wnd_TextBlock_311503534_inner_1" data-wnd_is_separable="1"
              data-wnd_separable_index="1" data-wnd_separable_id="wnd_TextBlock_311503534">
            Ovdje započinje Vaš tekst. Kliknite ovdje i započnite upisivati tekst.&nbsp;
            Incidunt ut labore et dolore magnam aliquam quaerat voluptatem ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi.
              </p>
            </div>
          </div>
          <div class="cw cf">
	          <div class="row mt-4 clearfix cw-c cf">
              <div style="width:60%;" class="col-8 col-sm-8 col-md-9 col-lg-9 c cf">
	              <div class="c-c cf">
                  <div style="1color:#456723" class="1color:#456723 form b b-s b-form-default f-rh-normal f-rg-normal f-br-none default cf flex space-x-3 font-bold" style="">
                    <form action="" method="post" 1role="search"
                    class="1color:#456723 d-flex form-submit b-btn cf b-btn-fs b-btn-3">
                      <fieldset class="1color:#456723 font-bold text-1xl text-green-700 form-fieldset">
                        <div style="1color:#456723; padding:5px;">
  	                      <label for="field-wnd_ShortTextField_62578429">
                            <span class="text-green-700 it b link">
  	                          <span class="it-c wnd-touchwysiwyg">
                                <span>Srđan Vidović</span>
                              </span>
                            </span>
                          </label>
  	                      <input id="field-wnd_ShortTextField_62578429"
                          name="wnd_ShortTextField_62578429" required=""
                        1disabled="" value="" type="text">
                        </div>
                        <div style="text-green-700; padding:5px;"
                        class="1form-input form-email cf wnd-form-field 1wnd-required">
                      	<label for="field-wnd_EmailField_917177683"
                        style="color:#338811 ">
                          <span class="1color:#456723 it b link">
  	                        <span class="1color:#456723 it-c">
                              vidosrd@gmail.com
                            </span>
                          </span>
                        </label>
  	                    <input id="field-wnd_EmailField_917177683" name="wnd_EmailField_917177683" required=""
                        1disabled="" value="@" type="email" maxlength="255">
                        </div>
                        <div class="1form-input 1form-textarea cf wnd-form-field wnd-required"
                          style="text-green-700; padding:5px;">
  	                      <label for="field-wnd_LongTextField_665527920">
                            <span class="it b link">
  	                          <span class="it-c" 1style="content:5px; padding:5px; border:5px; margin:5px;">
                              Grunge, Alternative, Hard
                              </span>
                            </span>
                          </label>
  	                      <textarea rows="5" id="field-wnd_LongTextField_665527920"
                        name="wnd_LongTextField_665527920" required=""
                        1disabled="">
                          </textarea>
                        </div>
  		                </fieldset>
                      <div style="padding-left:15px; padding-right:15px;" class="form-submit b-btn cf b-btn-fs b-btn-3">
                        <button class="b-btn-l" type="submit">
                          <hr /><br />
                          <div class="form-submit b-btn cf b-btn-fs b-btn-3">
                          <span class="form-submit-text b-btn-t">
                          Poslati
                          </span>
                        Search <hr />
                        </button>
                        <input class="form-control me-2 b-btn-l 1btn btn-outline-success" type="submit" name="send" placeholder="Search" aria-label="Search">
                      </div>
	                  </form>
                  </div>
                </div>
              </div>
              <div style="width:40%;" class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix c cf" id="wnd_ContentZoneCol_454385639" data-wnd_mvc_type="wnd.pc.ContentZoneCol">
	            <div class="c-c cf" id="wnd_ContentZoneCol_454385639_container">
                <div class="b b-text cf" id="wnd_TextBlock_507297977" data-wnd_mvc_type="wnd.pc.TextBlock">
	                <div style="#ffffff" class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_TextBlock_507297977_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">
                    <p color="#ffffff" id="wnd_TextBlock_507297977_inner_0" data-wnd_is_separable="1" data-wnd_separable_index="0" data-wnd_separable_id="wnd_TextBlock_507297977">
                      <font class="#ffffff wsw-10">
                      <strong>Srđan Vidović</strong>
                      </font>
                      <br>
Ulica Kozarski Brigada 3A, 78 000 Gradiška, Bosne i Hercegovina
                    </p>
                    <p id="wnd_TextBlock_507297977_inner_1" data-wnd_is_separable="1" data-wnd_separable_index="1" data-wnd_separable_id="wnd_TextBlock_507297977">
                    <strong>
                      <font color="#ffffff">Broj telefona:</font>
                    </strong>
                    <br>
+387 65 923 047
                    </p>
                    <p id="wnd_TextBlock_507297977_inner_2" data-wnd_is_separable="1" data-wnd_separable_index="2" data-wnd_separable_id="wnd_TextBlock_507297977">
                    <strong>
                      <font color="#ffffff">E-mail:</font>
                    </strong>
                    <br><a href="mailto:vidosrd@gmail.com">vidosrd@gmail.com</a>
                    </p>
                    <p id="wnd_TextBlock_507297977_inner_3" data-wnd_is_separable="1" data-wnd_separable_index="3" data-wnd_separable_id="wnd_TextBlock_507297977">
                    <font color="#ffffff">
                      <strong>Skype</strong>:
                    </font><br>
SrVidovic.kontakt
                    </p>
                    <p id="wnd_TextBlock_507297977_inner_4" data-wnd_is_separable="1" data-wnd_separable_index="4" data-wnd_separable_id="wnd_TextBlock_507297977">
                    <strong>
                      <font color="#ffffff">Slijedite me:</font>
                    </strong>
                    <br>
                    <a href="https://www.facebook.com/profile.php?id=100004554378107/">
                      Facebook
                    </a>
                    </p>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
</section>
<br /><hr /><br />
