<div id="container">
        <main id="main">
            <div class="inside">
                <div class="columns">
                    <div class="column">
                        <div class="content box box-small" style="margin-bottom: 30px;">
                            <h1 class="headline">Login</h1>
                            <noscript>
                                <p class="error-box">Your mailbox.org Office requires a browser with Javascript enabled.</p>
                            </noscript>
                            <!-- <p id="login-form-success-info" class="login-success-info">Login</p> -->
                            <p id="login-form-error-info" class="error-box" style="display: none;">Login failed.<br>Wrong username or password? Used full e-mail address?</p>
                            <p id="login-password-error500-info" class="error-box" style="display:none">Currently the login is not possible. Please try again later.</p>
                            <p id="login-password-error407-info" class="error-box" style="display:none">Access from this network is not allowed</p>
                            <form id="login-form" action="#" method="post">
                                <div id="login-view">
                                    <div id="login-views">
                                        <div id="login-username-view" class="login-view">
                                                                                        <p>
                                            <span class="float-field float-input active">
                                                <input type="email" name="login-username-input" value="" id="login-username-input" class="display-none" autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off" style="display: block;">
                                                <label for="login-username-input" class="float-label">E-mail address</label>
                                            </span>
                                            <span id="login-password-container" style="display: none;" class="float-field float-input">
                                                <span class="float-pwswitch showpassword"></span>
                                                <input type="password" name="login-password-input" id="login-password-input" autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off">
                                                <label for="login-password-input" class="float-label">Password</label>
                                            </span>
                                            </p>
                                            <p>Please enter the <b>full e-mail address</b> of your user account.</p>
                                            <p id="login-password-error403-info" class="no-input-error" style="display:none">Make sure to always log in using your main e-mail address. If you designated an alias as your new main e-mail address, then you need to use that for future logins to our services and to the user forum.</p>
                                            <p id="login-password-error412-info" class="no-input-error" style="display:none">Login disabled for 60 seconds.</p>
                                            <p>Business administrators can log into the administration interface <a href="https://setup.mailbox.org">here</a>.</p>
                                            <div class="button-group">
                                                                                                                                                                                                                                                    <button type="submit" id="login-login-button" data-inner-text-translation="Login" name="login-login-button">Next</button>
                                                <div class="loader-inner ball-pulse">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                                <a href="https://login.mailbox.org/en/passwordrecovery" class="link-button" type="button" id="login-forgot-password-button">Forgot password?</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="column">
                        <div class="content box box-small">
                            <div id="news-container">

  <div class="mod_article first last block" id="article-333">
  	<div class="inside">


<!-- indexer::stop -->
<div class="mod_newslist block-blog-news -large-first block">

            <h2>Blog &amp; News</h2>

  	<div class="box white rounded button">
    	<div class="layout_latest rs-columns arc_28 block featured first even" itemscope="" itemtype="http://schema.org/Article">
	<p class="info"><time datetime="2024-10-01T10:00:00+00:00" itemprop="datePublished">2024-10-01</time></p>
	<div class="teaser">
		<p itemprop="name"><strong><a href="https://mailbox.org/en/post/opentalk-update-at-mailbox-org-october-2024" title="Read the article: OpenTalk update at mailbox.org: new features and improved usability" itemprop="url"><span itemprop="headline">OpenTalk update at mailbox.org: new features and improved usability</span></a></strong></p>
	</div>
</div><div class="layout_latest rs-columns arc_28 block featured odd" itemscope="" itemtype="http://schema.org/Article">
	<p class="info"><time datetime="2024-09-04T11:30:00+00:00" itemprop="datePublished">2024-09-04</time></p>
	<div class="teaser">
		<p itemprop="name"><strong><a href="https://mailbox.org/en/post/peer-heinlein-speaker-on-nis-2-directive-at-the-internet-security-days-2024" title="Read the article: Peer Heinlein speaker on NIS 2 at the Internet Security Days 2024" itemprop="url"><span itemprop="headline">Peer Heinlein speaker on NIS 2 at the Internet Security Days 2024</span></a></strong></p>
	</div>
</div><div class="layout_latest rs-columns arc_28 block featured last even" itemscope="" itemtype="http://schema.org/Article">
	<p class="info"><time datetime="2024-07-19T11:08:00+00:00" itemprop="datePublished">2024-07-19</time></p>
	<div class="teaser">
		<p itemprop="name"><strong><a href="https://mailbox.org/en/post/global-it-breakdown-a-challenge-for-companies-worldwide" title="Read the article: Global IT breakdown: a challenge for companies worldwide" itemprop="url"><span itemprop="headline">Global IT breakdown: a challenge for companies worldwide</span></a></strong></p>
	</div>
</div>    	<p style="text-align: right;"><a href="https://mailbox.org/en/blog" target="_blank">more</a></p>
	</div>

</div>
<!-- indexer::continue -->
        </div>
  </div>
                    </div>
                            <p>You want to be always informed? Log in to your mailbox.org Office to subscribe.</p>
                        </div>
                    </div>
                </div>

                <div class="nav-buttons">
                    <a href="#" class="nav-button nav-button-back" id="footer-back" onclick="history.back();return false;"></a>
                    <a href="#" class="nav-button nav-button-top"></a>
                </div>
            </div>
        </main>
        <iframe name="frame1" id="frame1" style="display: none"></iframe>
        <iframe name="frame2" id="frame2" style="display: none"></iframe>
    </div>
