<div class="nH">
  <div class="w-asV bbg aiw">
    <div id=":h">
      <div>
        <div class="a3I">
          <br>
          <a href="" target="_top" class="J-Ke" id=":o">
            Пређи на садржај
          </a>
          <br>
          <a href="" target="_top" class="J-Ke" id=":p" aria-expanded="false" aria-controls=":q">
            Коришћење Gmail-а са читачима екрана</a><br>
          <div id=":q" style="display:none">
            <a href="" target="_top" class="J-Ke" id=":m">Тастерске пречице</a><br>
            <a href="https://support.google.com/mail/answer/90559?hl=sr" target="_top" class="J-Ke" id=":n">
              Водич за Gmail (стандардни приказ)</a>
          </div>
        </div>
      </div>
    </div>
    <div id=":d">
      <div id=":7" style="display:none;">
      </div>
      <div class="qp">
        <header class="gb_Fa gb_3d gb_Re gb_F gb_rd gb_Fd" id="gb" role="banner" style="background-color:transparent">
          <div class="gb_Qd">
            <div class="gb_Rc gb_Pc gb_Fd">
              <div class="gb_2c">
                <div class="gb_Cc">
                  <div class="gb_Dc gb_be">
                    <a class="gb_5d gb_Ec gb_8d" aria-label="Gmail" href="#inbox" title="Gmail">
                      <span class="gb_Od gb_7d" aria-hidden="true" role="presentation"></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="gb_Xc"></div>
            </div>
          </div>
          <div class="gb_ld gb_pd gb_Hd gb_Lc">
            <div class="gb_xd gb_sd gb_ud" style="min-width: 238px;">
              <div class="gb_Kc" aria-expanded="false" aria-label="Главни мени" data-ogmb="1" role="button" tabindex="0">
                <svg focusable="false" viewBox="0 0 24 24">
                  <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                </svg>
              </div>
              <div class="gb_Kc gb_Nc gb_R" aria-label="Назад" title="Назад" role="button" tabindex="0">
                <svg focusable="false" viewBox="0 0 24 24">
                  <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                </svg>
              </div>
              <div class="gb_Kc gb_k gb_R" aria-label="Затвори" role="button" tabindex="0">
                <svg viewBox="0 0 24 24">
                  <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                </svg>
              </div>
              <div class="gb_Cc">
                <div class="gb_Dc gb_be">
                  <a class="gb_5d gb_Ec gb_8d" aria-label="Gmail" href="#inbox" title="Gmail">
                    <img class="gb_Od" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r5.png" srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_2x_r5.png 2x ,https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r5.png 1x" alt="" aria-hidden="true" role="presentation"
                    style="width:109px;height:40px">
                  </a>
                </div>
              </div>
              <div class="gb_xd gb_R gb_9c gb_ad">
                <span class="gb_vd" aria-level="1" role="heading"></span>
              </div>
            </div>
            <div class="gb_xd gb_Bd gb_Le gb_Me gb_Fe">
              <div class="gb_j gb_ie"></div>
              <div class="gb_xe">
                <form class="gb_id gb_cf bas aJf" method="get" role="search" id="aso_search_form_anchor">
                  <h2 class="a3I">Претрага</h2>
                  <button class="gb_ze gb_bf" aria-label="Затвори претрагу" type="button">
                    <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                    </svg>
                  </button>
                  <div class="gb_Ce gb_bf" gh="sb">
                    <table cellspacing="0" cellpadding="0" class="gstl_50 gstt" role="presentation" style="height: 28px;">
                      <tbody>
                        <tr>
                          <td>
                            <table cellspacing="0" cellpadding="0" style="width: 100%;">
                              <tbody>
                                <tr>
                                  <td class="gsib_a gb_re aJh">
                                    <div id="gs_lc50" style="position: relative;">
                                      <input class="gb_re aJh" aria-label="Претражите имејлове" autocomplete="off" placeholder="Претражите имејлове" value="" name="q" type="text" dir="ltr" spellcheck="false" aria-haspopup="true" aria-live="off" aria-owns="gs_sbt50"
                                      style="border: none; padding: 0px; margin: 0px; height: auto; width: 100%; background: url(&quot;data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D&quot;) transparent; position: absolute; z-index: 6; left: 0px;"
                                      jslog="72933; u014N:xr6bB; 41:W251bGwsbnVsbCxudWxsLG51bGwsW251bGwsbnVsbCxudWxsLG51bGwsbnVsbCwxXV0." aria-hidden="false">
                                      <input disabled="" autocomplete="off" autocapitalize="off" id="gs_taif50" class="gb_re aJh" dir="ltr"
                                      style="border: none; padding: 0px; margin: 0px; height: auto; width: 100%; position: absolute; z-index: 1; background-color: transparent; -webkit-text-fill-color: silver; color: silver; left: 0px; visibility: hidden;">
                                      <div class="etAEh pbiu3c" aria-hidden="true">
                                        <div class=" pbiu3c">
                                        </div>
                                        <div class="hNbco pbiu3c ">tab</div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <table cellspacing="0" cellpadding="0" class="gstl_50 gssb_c" role="presentation"
                  style="width: 100%; display: none; position: relative;">
                    <tbody>
                      <tr class="aRp" role="presentation">
                        <td role="presentation" class="gssb_f"></td>
                        <td role="presentation"></td>
                      </tr>
                      <tr>
                        <td class="gssb_n"></td>
                        <td class="gssb_e" style="width: 100%;"></td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="gb_De" type="button" gh="sda" role="button" data-tooltip="Прикажи опције претраге" aria-label="Опције напредне претраге">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"></path>
                    </svg>
                  </button>
                  <button class="gb_Ae" aria-label="Обриши претрагу" type="button">
                    <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                  </button>
                  <button class="gb_Ee gb_bf bEP" aria-label="Претражите имејлове" role="button" aria-disabled="true" jslog="20278; u014N:cOuCgd,xr6bB; 41:W251bGwsbnVsbCxudWxsLG51bGwsW251bGwsbnVsbCxudWxsLG51bGwsbnVsbCwxXV0." aria-hidden="false">
                    <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z"></path>
                      <path d="M0,0h24v24H0V0z" fill="none"></path>
                    </svg>
                  </button>
                </form>
              </div>
              <div class="gb_u gb_ie bGJ">
                <div class="zo " data-tooltip="Подршка">
                  <a class="gb_je gb_h gb_hd t6" role="button" id="lZwQje" tabindex="0" aria-label="Подршка" aria-expanded="false" aria-haspopup="true" aria-controls="M842Cd">
                    <svg class="t7" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" focusable="false">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></path>
                    </svg>
                  </a>
                </div>
                <div id="M842Cd" class="t9" role="menu" tabindex="0" aria-hidden="true" style="display: none;">
                  <div class="ua" aria-label="Помоћ" tabindex="-1" role="menuitem" jsname="j7LFlb">
                    Помоћ
                  </div>
                  <div class="ua" aria-label="Обука" tabindex="-1" role="menuitem" jsname="j7LFlb">
                    Обука
                  </div>
                  <div class="ua" aria-label="Новости" tabindex="-1" role="menuitem" jsname="j7LFlb">
                    Новости
                  </div>
                  <div class="ub" role="separator" aria-hidden="true"></div>
                  <div class="ua" aria-label="Пошаљите повратне информације Google-у" tabindex="-1" role="menuitem" jsname="j7LFlb">
                    Пошаљите повратне информације Google-у
                  </div>
                </div>
                <div class="FI" data-tooltip="Подешавања" jslog="85046; u014N:cOuCgd,Kr2w4b,xr6bB;">
                  <a class="FH" role="button" tabindex="0" aria-label="Подешавања" aria-expanded="false" aria-haspopup="true">
                    <svg class="Xy" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M13.85 22.25h-3.7c-.74 0-1.36-.54-1.45-1.27l-.27-1.89c-.27-.14-.53-.29-.79-.46l-1.8.72c-.7.26-1.47-.03-1.81-.65L2.2 15.53c-.35-.66-.2-1.44.36-1.88l1.53-1.19c-.01-.15-.02-.3-.02-.46 0-.15.01-.31.02-.46l-1.52-1.19c-.59-.45-.74-1.26-.37-1.88l1.85-3.19c.34-.62 1.11-.9 1.79-.63l1.81.73c.26-.17.52-.32.78-.46l.27-1.91c.09-.7.71-1.25 1.44-1.25h3.7c.74 0 1.36.54 1.45 1.27l.27 1.89c.27.14.53.29.79.46l1.8-.72c.71-.26 1.48.03 1.82.65l1.84 3.18c.36.66.2 1.44-.36 1.88l-1.52 1.19c.01.15.02.3.02.46s-.01.31-.02.46l1.52 1.19c.56.45.72 1.23.37 1.86l-1.86 3.22c-.34.62-1.11.9-1.8.63l-1.8-.72c-.26.17-.52.32-.78.46l-.27 1.91c-.1.68-.72 1.22-1.46 1.22zm-3.23-2h2.76l.37-2.55.53-.22c.44-.18.88-.44 1.34-.78l.45-.34 2.38.96 1.38-2.4-2.03-1.58.07-.56c.03-.26.06-.51.06-.78s-.03-.53-.06-.78l-.07-.56 2.03-1.58-1.39-2.4-2.39.96-.45-.35c-.42-.32-.87-.58-1.33-.77l-.52-.22-.37-2.55h-2.76l-.37 2.55-.53.21c-.44.19-.88.44-1.34.79l-.45.33-2.38-.95-1.39 2.39 2.03 1.58-.07.56a7 7 0 0 0-.06.79c0 .26.02.53.06.78l.07.56-2.03 1.58 1.38 2.4 2.39-.96.45.35c.43.33.86.58 1.33.77l.53.22.38 2.55z">
                      </path>
                      <circle cx="12" cy="12" r="3.5"></circle>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="gb_Cd gb_0d gb_xd gb_Kd" data-ogsr-up="">
              <div class="gb_Se">
                <div class="gb_3c">
                  <div class="gb_I gb_cd gb_0" data-ogsr-fb="true" data-ogsr-alt="" id="gbwa">
                    <div class="gb_C">
                      <a class="gb_A" aria-label="Google апликације" href="https://www.google.ba/intl/sr/about/products?tab=mh" aria-expanded="false" role="button" tabindex="0">
                        <svg class="gb_E" focusable="false" viewBox="0 0 24 24">
                          <path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z">
                          </path>
                          <image src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt=""
                          height="24" width="24" style="border:none;display:none \9"></image>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="gb_y gb_cd gb_Of gb_0">
                  <div class="gb_C gb_jb gb_Of gb_0">
                    <a class="gb_A gb_Za gb_0" aria-label="Google налог: Srdjan Vidovic
(vidosrd@gmail.com)" href="https://accounts.google.com/SignOutOptions?hl=sr&amp;continue=https://mail.google.com/mail/&amp;service=mail&amp;ec=GBRAFw" tabindex="0" role="button"><img class="gb_P gbii" src="https://lh3.googleusercontent.com/ogw/AF2bZyiWV7E54QAYvWBxIoK9ecXl4hHuMPU2tTDn8f3tNS8vkaCX=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/AF2bZyiWV7E54QAYvWBxIoK9ecXl4hHuMPU2tTDn8f3tNS8vkaCX=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/AF2bZyiWV7E54QAYvWBxIoK9ecXl4hHuMPU2tTDn8f3tNS8vkaCX=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                    </a>
                  </div>
                </div>
              </div>
              <div style="overflow: hidden; position: absolute; top: 0px; visibility: hidden; width: 370px; z-index: 991; height: 0px; margin-top: 57px; transition: height 0.3s ease-in-out; right: 0px; margin-right: 4px;" aria-hidden="true">
                <iframe role="presentation" frameborder="0" scrolling="no" name="app" src="https://ogs.google.com/u/0/widget/app?awwd=1&amp;origin=https%3A%2F%2Fmail.google.com&amp;cn=app&amp;pid=23&amp;spid=23&amp;hl=sr&amp;dm="
                style="height: 100%; width: 100%; color-scheme: light; visibility: hidden;"></iframe>
              </div>
              <div style="overflow: hidden; position: absolute; top: 0px; visibility: hidden; width: 436px; z-index: 991; height: 0px; right: 0px; max-width: calc(-8px + 100vw); min-height: 210px; max-height: calc(-101px + 100dvh); margin-top: 57px; margin-right: 4px;"></div>
              <div style="overflow: hidden; position: absolute; top: 0px; visibility: hidden; width: 420px; z-index: 991; height: 280px; margin-top: 70px; right: 0px; margin-right: 11px;"></div>
            </div>
          </div>
          <div class="gb_a gb_pd gb_Lc"></div>
        </header>
      </div>
    </div>
    <div>
      <div id=":g">
        <div style="display: none;">
          <table cellpadding="0" class="cf w-asX" role="search">
            <tbody>
              <tr>
                <td class="w-as0">
                  <div id=":t" class="ZB">
                    <input type="text" id=":u" onsubmit="return false" class="w-as1 nr" maxlength="2048" size="40" tabindex="0" aria-labelledby=":s">
                  </div>
                </td>
                <td class="w-as0 w-asZ">
                  <div id=":r" class="T-I J-J5-Ji T-I-atl L3" role="button" tabindex="0">
                    <span class="w-azo T-I-J3 J-J5-Ji"></span>
                  </div>
                  <div id=":s" class="T-I J-J5-Ji T-I-atl L3" role="button" tabindex="0">
                    <span class="w-azo T-I-J3 J-J5-Ji"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id=":j">
        <div>
          <div class="w-asK w-atd" style="display: none;">
            <nobr class="J-J5-Ji">
              <span id=":5"></span>
              <div id=":16" class="w-atf J-J5-Ji" tabindex="0" role="button" aria-label="Затвори">
              </div>
            </nobr>
          </div>
        </div>
      </div>
      <div id=":i"></div>
      <div id=":b">
        <div class="b8 UC" aria-live="assertive" aria-atomic="true" role="alert"
        style="position: relative; top: -10000px;">
        <div class="J-J5-Ji">
          <div class="UD"></div>
          <div class="vh"></div>
          <div class="UB"></div>
        </div>
      </div>
    </div>
  </div>
<div id=":c"></div>
<script nonce="">this.gbar_=this.gbar_||{};(function(_){var window=this;
try{
_.Ld=function(a,b,c){if(!a.j)if(c instanceof Array)for(var d of c)_.Ld(a,b,d);else{d=(0,_.z)(a.C,a,b);const e=a.v+c;a.v++;b.dataset.eqid=e;a.B[e]=d;b&&b.addEventListener?b.addEventListener(c,d,!1):b&&b.attachEvent?b.attachEvent("on"+c,d):a.o.log(Error("B`"+b))}};
}catch(e){_._DumpException(e)}
try{
var Md=document.querySelector(".gb_I .gb_A"),Nd=document.querySelector("#gb.gb_Sc");Md&&!Nd&&_.Ld(_.vd,Md,"click");
}catch(e){_._DumpException(e)}
try{
var Od;Od=class extends _.zd{};_.Pd=function(a,b){if(b in a.i)return a.i[b];throw new Od;};_.Qd=function(a){return _.Pd(_.wd.i(),a)};
}catch(e){_._DumpException(e)}
try{
/*

 Copyright Google LLC
 SPDX-License-Identifier: Apache-2.0
*/
var Td;_.Rd=function(a){const b=a.length;if(b>0){const c=Array(b);for(let d=0;d<b;d++)c[d]=a[d];return c}return[]};Td=function(a){return new _.Sd(b=>b.substr(0,a.length+1).toLowerCase()===a+":")};_.Ud=globalThis.trustedTypes;_.Vd=class{constructor(a){this.i=a}toString(){return this.i}};_.Wd=new _.Vd("about:invalid#zClosurez");_.Sd=class{constructor(a){this.Yg=a}};_.Xd=[Td("data"),Td("http"),Td("https"),Td("mailto"),Td("ftp"),new _.Sd(a=>/^[^:]*([/?#]|$)/.test(a))];_.Yd=class{constructor(a){this.i=a}toString(){return this.i+""}};_.Zd=new _.Yd(_.Ud?_.Ud.emptyHTML:"");
}catch(e){_._DumpException(e)}
try{
var ce,qe,be,de,ie;_.$d=function(a){return a==null?a:Number.isFinite(a)?a|0:void 0};_.ae=function(a){if(a==null)return a;if(typeof a==="string"){if(!a)return;a=+a}if(typeof a==="number")return Number.isFinite(a)?a|0:void 0};ce=function(){let a=null;if(!be)return a;try{const b=c=>c;a=be.createPolicy("ogb-qtm#html",{createHTML:b,createScript:b,createScriptURL:b})}catch(b){}return a};_.ee=function(){de===void 0&&(de=ce());return de};
_.ge=function(a){const b=_.ee();return new _.fe(b?b.createScriptURL(a):a)};_.he=function(a){if(a instanceof _.fe)return a.i;throw Error("F");};_.je=function(a){if(ie.test(a))return a};_.ke=function(a){if(a instanceof _.Vd)if(a instanceof _.Vd)a=a.i;else throw Error("F");else a=_.je(a);return a};_.le=function(a,b){let c,d;return(b=(d=(c=b.document).querySelector)==null?void 0:d.call(c,`${a}[nonce]`))?b.nonce||b.getAttribute("nonce")||"":""};
_.me=function(a){var b=_.Qa(a);return b=="array"||b=="object"&&typeof a.length=="number"};_.ne=function(a,b,c){return _.Ab(a,b,c,!1)!==void 0};_.oe=function(a,b){return _.ae(_.Uc(a,b))};_.S=function(a,b){return _.$d(_.Uc(a,b))};_.T=function(a,b,c=0){return _.Bb(_.oe(a,b),c)};_.pe=function(a,b,c=0){return _.Bb(_.S(a,b),c)};_.re=function(a,b){return a.lastIndexOf(b,0)==0};be=_.Ud;_.fe=class{constructor(a){this.i=a}toString(){return this.i+""}};ie=/^\s*(?!javascript:)(?:[\w+.-]+:|[^:/?#]*(?:[/?#]|$))/i;var xe,Be,se;_.ue=function(a){return a?new se(_.te(a)):qe||(qe=new se)};_.ve=function(a,b){return typeof b==="string"?a.getElementById(b):b};_.U=function(a,b){var c=b||document;if(c.getElementsByClassName)a=c.getElementsByClassName(a)[0];else{c=document;var d=b||c;a=d.querySelectorAll&&d.querySelector&&a?d.querySelector(a?"."+a:""):_.we(c,a,b)[0]||null}return a||null};
_.we=function(a,b,c){var d;a=c||a;if(a.querySelectorAll&&a.querySelector&&b)return a.querySelectorAll(b?"."+b:"");if(b&&a.getElementsByClassName){var e=a.getElementsByClassName(b);return e}e=a.getElementsByTagName("*");if(b){var f={};for(c=d=0;a=e[c];c++){var g=a.className;typeof g.split=="function"&&_.va(g.split(/\s+/),b)&&(f[d++]=a)}f.length=d;return f}return e};
_.ye=function(a,b){_.Fb(b,function(c,d){d=="style"?a.style.cssText=c:d=="class"?a.className=c:d=="for"?a.htmlFor=c:xe.hasOwnProperty(d)?a.setAttribute(xe[d],c):_.re(d,"aria-")||_.re(d,"data-")?a.setAttribute(d,c):a[d]=c})};xe={cellpadding:"cellPadding",cellspacing:"cellSpacing",colspan:"colSpan",frameborder:"frameBorder",height:"height",maxlength:"maxLength",nonce:"nonce",role:"role",rowspan:"rowSpan",type:"type",usemap:"useMap",valign:"vAlign",width:"width"};
_.ze=function(a){return a?a.defaultView:window};_.Ce=function(a,b){var c=b[1],d=_.Ae(a,String(b[0]));c&&(typeof c==="string"?d.className=c:Array.isArray(c)?d.className=c.join(" "):_.ye(d,c));b.length>2&&Be(a,d,b);return d};Be=function(a,b,c){function d(g){g&&b.appendChild(typeof g==="string"?a.createTextNode(g):g)}for(var e=2;e<c.length;e++){var f=c[e];!_.me(f)||_.Pb(f)&&f.nodeType>0?d(f):_.ic(f&&typeof f.length=="number"&&typeof f.item=="function"?_.Rd(f):f,d)}};
_.De=function(a){return _.Ae(document,a)};_.Ae=function(a,b){b=String(b);a.contentType==="application/xhtml+xml"&&(b=b.toLowerCase());return a.createElement(b)};_.Ee=function(a){for(var b;b=a.firstChild;)a.removeChild(b)};_.Fe=function(a){return a&&a.parentNode?a.parentNode.removeChild(a):null};_.Ge=function(a,b){return a&&b?a==b||a.contains(b):!1};_.te=function(a){return a.nodeType==9?a:a.ownerDocument||a.document};se=function(a){this.i=a||_.t.document||document};_.n=se.prototype;
_.n.H=function(a){return _.ve(this.i,a)};_.n.Za=function(a,b,c){return _.Ce(this.i,arguments)};_.n.appendChild=function(a,b){a.appendChild(b)};_.n.re=_.Ee;_.n.Of=_.Fe;_.n.Nf=_.Ge;
}catch(e){_._DumpException(e)}
try{
var He;He=0;_.Ie=function(a){return Object.prototype.hasOwnProperty.call(a,_.Qb)&&a[_.Qb]||(a[_.Qb]=++He)};_.Je=function(a){return _.Pb(a)&&a.nodeType==1};_.Ke=function(a,b){if("textContent"in a)a.textContent=b;else if(a.nodeType==3)a.data=String(b);else if(a.firstChild&&a.firstChild.nodeType==3){for(;a.lastChild!=a.firstChild;)a.removeChild(a.lastChild);a.firstChild.data=String(b)}else _.Ee(a),a.appendChild(_.te(a).createTextNode(String(b)))};var Le;_.Me=function(a,b,c){Array.isArray(c)&&(c=c.join(" "));var d="aria-"+b;c===""||c==void 0?(Le||(Le={atomic:!1,autocomplete:"none",dropeffect:"none",haspopup:!1,live:"off",multiline:!1,multiselectable:!1,orientation:"vertical",readonly:!1,relevant:"additions text",required:!1,sort:"none",busy:!1,disabled:!1,hidden:!1,invalid:"false"}),c=Le,b in c?a.setAttribute(d,c[b]):a.removeAttribute(d)):a.setAttribute(d,c)};var Qe;_.Pe=function(a,b,c,d,e,f){if(_.qc&&e)return _.Ne(a);if(e&&!d)return!1;if(!_.oc){typeof b==="number"&&(b=_.Oe(b));var g=b==17||b==18||_.qc&&b==91;if((!c||_.qc)&&g||_.qc&&b==16&&(d||f))return!1}if(_.pc&&d&&c)switch(a){case 220:case 219:case 221:case 192:case 186:case 189:case 187:case 188:case 190:case 191:case 192:case 222:return!1}switch(a){case 13:return _.oc?f||e?!1:!(c&&d):!0;case 27:return!_.pc&&!_.oc}return _.oc&&(d||e||f)?!1:_.Ne(a)};
_.Ne=function(a){if(a>=48&&a<=57||a>=96&&a<=106||a>=65&&a<=90||_.pc&&a==0)return!0;switch(a){case 32:case 43:case 63:case 64:case 107:case 109:case 110:case 111:case 186:case 59:case 189:case 187:case 61:case 188:case 190:case 191:case 192:case 222:case 219:case 220:case 221:case 163:case 58:return!0;case 173:case 171:return _.oc;default:return!1}};_.Oe=function(a){if(_.oc)a=Qe(a);else if(_.qc&&_.pc)switch(a){case 93:a=91}return a};
Qe=function(a){switch(a){case 61:return 187;case 59:return 186;case 173:return 189;case 224:return 91;case 0:return 224;default:return a}};
}catch(e){_._DumpException(e)}
try{
var Re,Se,Te;Re=function(a){return typeof a.className=="string"?a.className:a.getAttribute&&a.getAttribute("class")||""};Se=function(a){return a.classList?a.classList:Re(a).match(/\S+/g)||[]};Te=function(a,b){typeof a.className=="string"?a.className=b:a.setAttribute&&a.setAttribute("class",b)};_.V=function(a,b){return a.classList?a.classList.contains(b):_.va(Se(a),b)};_.Ue=function(a,b){if(a.classList)a.classList.add(b);else if(!_.V(a,b)){var c=Re(a);Te(a,c+(c.length>0?" "+b:b))}};
_.Ve=function(a,b){if(a.classList)Array.prototype.forEach.call(b,function(e){_.Ue(a,e)});else{var c={};Array.prototype.forEach.call(Se(a),function(e){c[e]=!0});Array.prototype.forEach.call(b,function(e){c[e]=!0});b="";for(var d in c)b+=b.length>0?" "+d:d;Te(a,b)}};_.We=function(a,b){a.classList?a.classList.remove(b):_.V(a,b)&&Te(a,Array.prototype.filter.call(Se(a),function(c){return c!=b}).join(" "))};
_.Xe=function(a,b){a.classList?Array.prototype.forEach.call(b,function(c){_.We(a,c)}):Te(a,Array.prototype.filter.call(Se(a),function(c){return!_.va(b,c)}).join(" "))};
}catch(e){_._DumpException(e)}
try{
_.Ye=class extends _.Q{constructor(a){super(a)}};
}catch(e){_._DumpException(e)}
try{
var $e;_.Ze=function(a,b){b=_.ua(a,b);let c;(c=b>=0)&&Array.prototype.splice.call(a,b,1);return c};$e=function(a,b){for(const c in a)if(b.call(void 0,a[c],c,a))return!0;return!1};_.bf=function(a,b){this.type="function"==typeof _.af&&a instanceof _.af?String(a):a;this.currentTarget=this.target=b;this.defaultPrevented=this.i=!1};_.bf.prototype.stopPropagation=function(){this.i=!0};_.bf.prototype.preventDefault=function(){this.defaultPrevented=!0};
_.cf=function(a,b){_.bf.call(this,a?a.type:"");this.relatedTarget=this.currentTarget=this.target=null;this.button=this.screenY=this.screenX=this.clientY=this.clientX=this.offsetY=this.offsetX=0;this.key="";this.charCode=this.keyCode=0;this.metaKey=this.shiftKey=this.altKey=this.ctrlKey=!1;this.state=null;this.pointerId=0;this.pointerType="";this.timeStamp=0;this.Pb=null;a&&this.init(a,b)};_.B(_.cf,_.bf);
_.cf.prototype.init=function(a,b){var c=this.type=a.type,d=a.changedTouches&&a.changedTouches.length?a.changedTouches[0]:null;this.target=a.target||a.srcElement;this.currentTarget=b;b=a.relatedTarget;b||(c=="mouseover"?b=a.fromElement:c=="mouseout"&&(b=a.toElement));this.relatedTarget=b;d?(this.clientX=d.clientX!==void 0?d.clientX:d.pageX,this.clientY=d.clientY!==void 0?d.clientY:d.pageY,this.screenX=d.screenX||0,this.screenY=d.screenY||0):(this.offsetX=_.pc||a.offsetX!==void 0?a.offsetX:a.layerX,
this.offsetY=_.pc||a.offsetY!==void 0?a.offsetY:a.layerY,this.clientX=a.clientX!==void 0?a.clientX:a.pageX,this.clientY=a.clientY!==void 0?a.clientY:a.pageY,this.screenX=a.screenX||0,this.screenY=a.screenY||0);this.button=a.button;this.keyCode=a.keyCode||0;this.key=a.key||"";this.charCode=a.charCode||(c=="keypress"?a.keyCode:0);this.ctrlKey=a.ctrlKey;this.altKey=a.altKey;this.shiftKey=a.shiftKey;this.metaKey=a.metaKey;this.pointerId=a.pointerId||0;this.pointerType=a.pointerType;this.state=a.state;
this.timeStamp=a.timeStamp;this.Pb=a;a.defaultPrevented&&_.cf.X.preventDefault.call(this)};_.cf.prototype.stopPropagation=function(){_.cf.X.stopPropagation.call(this);this.Pb.stopPropagation?this.Pb.stopPropagation():this.Pb.cancelBubble=!0};_.cf.prototype.preventDefault=function(){_.cf.X.preventDefault.call(this);var a=this.Pb;a.preventDefault?a.preventDefault():a.returnValue=!1};_.cf.prototype.hb=function(){return this.Pb};_.df="closure_listenable_"+(Math.random()*1E6|0);_.ef=function(a){return!(!a||!a[_.df])};var ff=0;var gf;gf=function(a,b,c,d,e){this.listener=a;this.proxy=null;this.src=b;this.type=c;this.capture=!!d;this.xd=e;this.key=++ff;this.Zc=this.kd=!1};_.hf=function(a){a.Zc=!0;a.listener=null;a.proxy=null;a.src=null;a.xd=null};_.jf=function(a){this.src=a;this.i={};this.j=0};_.jf.prototype.add=function(a,b,c,d,e){var f=a.toString();a=this.i[f];a||(a=this.i[f]=[],this.j++);var g=kf(a,b,d,e);g>-1?(b=a[g],c||(b.kd=!1)):(b=new gf(b,this.src,f,!!d,e),b.kd=c,a.push(b));return b};_.jf.prototype.remove=function(a,b,c,d){a=a.toString();if(!(a in this.i))return!1;var e=this.i[a];b=kf(e,b,c,d);return b>-1?(_.hf(e[b]),Array.prototype.splice.call(e,b,1),e.length==0&&(delete this.i[a],this.j--),!0):!1};
_.lf=function(a,b){var c=b.type;if(!(c in a.i))return!1;var d=_.Ze(a.i[c],b);d&&(_.hf(b),a.i[c].length==0&&(delete a.i[c],a.j--));return d};_.jf.prototype.ud=function(a,b){a=this.i[a.toString()];var c=[];if(a)for(var d=0;d<a.length;++d){var e=a[d];e.capture==b&&c.push(e)}return c};_.jf.prototype.Uc=function(a,b,c,d){a=this.i[a.toString()];var e=-1;a&&(e=kf(a,b,c,d));return e>-1?a[e]:null};
_.jf.prototype.hasListener=function(a,b){var c=a!==void 0,d=c?a.toString():"",e=b!==void 0;return $e(this.i,function(f){for(var g=0;g<f.length;++g)if(!(c&&f[g].type!=d||e&&f[g].capture!=b))return!0;return!1})};var kf=function(a,b,c,d){for(var e=0;e<a.length;++e){var f=a[e];if(!f.Zc&&f.listener==b&&f.capture==!!c&&f.xd==d)return e}return-1};var mf,nf,of,sf,uf,wf,xf,Af;mf="closure_lm_"+(Math.random()*1E6|0);nf={};of=0;_.qf=function(a,b,c,d,e){if(d&&d.once)return _.pf(a,b,c,d,e);if(Array.isArray(b)){for(var f=0;f<b.length;f++)_.qf(a,b[f],c,d,e);return null}c=_.rf(c);return _.ef(a)?a.listen(b,c,_.Pb(d)?!!d.capture:!!d,e):sf(a,b,c,!1,d,e)};
sf=function(a,b,c,d,e,f){if(!b)throw Error("J");var g=_.Pb(e)?!!e.capture:!!e,h=_.tf(a);h||(a[mf]=h=new _.jf(a));c=h.add(b,c,d,g,f);if(c.proxy)return c;d=uf();c.proxy=d;d.src=a;d.listener=c;if(a.addEventListener)e===void 0&&(e=!1),a.addEventListener(b.toString(),d,e);else if(a.attachEvent)a.attachEvent(wf(b.toString()),d);else if(a.addListener&&a.removeListener)a.addListener(d);else throw Error("K");of++;return c};uf=function(){const a=xf,b=function(c){return a.call(b.src,b.listener,c)};return b};
_.pf=function(a,b,c,d,e){if(Array.isArray(b)){for(var f=0;f<b.length;f++)_.pf(a,b[f],c,d,e);return null}c=_.rf(c);return _.ef(a)?a.Ga(b,c,_.Pb(d)?!!d.capture:!!d,e):sf(a,b,c,!0,d,e)};_.yf=function(a,b,c,d,e){if(Array.isArray(b))for(var f=0;f<b.length;f++)_.yf(a,b[f],c,d,e);else d=_.Pb(d)?!!d.capture:!!d,c=_.rf(c),_.ef(a)?a.Fa(b,c,d,e):a&&(a=_.tf(a))&&(b=a.Uc(b,c,d,e))&&_.zf(b)};
_.zf=function(a){if(typeof a==="number"||!a||a.Zc)return!1;var b=a.src;if(_.ef(b))return b.Hd(a);var c=a.type,d=a.proxy;b.removeEventListener?b.removeEventListener(c,d,a.capture):b.detachEvent?b.detachEvent(wf(c),d):b.addListener&&b.removeListener&&b.removeListener(d);of--;(c=_.tf(b))?(_.lf(c,a),c.j==0&&(c.src=null,b[mf]=null)):_.hf(a);return!0};wf=function(a){return a in nf?nf[a]:nf[a]="on"+a};
xf=function(a,b){if(a.Zc)a=!0;else{b=new _.cf(b,this);var c=a.listener,d=a.xd||a.src;a.kd&&_.zf(a);a=c.call(d,b)}return a};_.tf=function(a){a=a[mf];return a instanceof _.jf?a:null};Af="__closure_events_fn_"+(Math.random()*1E9>>>0);_.rf=function(a){if(typeof a==="function")return a;a[Af]||(a[Af]=function(b){return a.handleEvent(b)});return a[Af]};
}catch(e){_._DumpException(e)}
try{
var Bf=function(a,b){a.v(b);a.j<100&&(a.j++,b.next=a.i,a.i=b)},Cf=class{constructor(a,b){this.o=a;this.v=b;this.j=0;this.i=null}get(){let a;this.j>0?(this.j--,a=this.i,this.i=a.next,a.next=null):a=this.o();return a}};var Ef=class{constructor(){this.j=this.i=null}add(a,b){const c=Df.get();c.set(a,b);this.j?this.j.next=c:this.i=c;this.j=c}remove(){let a=null;this.i&&(a=this.i,this.i=this.i.next,this.i||(this.j=null),a.next=null);return a}},Df=new Cf(()=>new Ff,a=>a.reset()),Ff=class{constructor(){this.next=this.scope=this.i=null}set(a,b){this.i=a;this.scope=b;this.next=null}reset(){this.next=this.scope=this.i=null}};var Gf,Hf=!1,If=new Ef,Kf=(a,b)=>{Gf||Jf();Hf||(Gf(),Hf=!0);If.add(a,b)},Jf=()=>{const a=_.t.Promise.resolve(void 0);Gf=()=>{a.then(Lf)}},Lf=()=>{let a;for(;a=If.remove();){try{a.i.call(a.scope)}catch(b){_.ea(b)}Bf(Df,a)}Hf=!1};var Mf=function(){};_.Nf=function(a){if(!a)return!1;try{return!!a.$goog_Thenable}catch(b){return!1}};var Qf,Xf,bg,ag,cg;_.Pf=function(a){this.i=0;this.C=void 0;this.v=this.j=this.o=null;this.A=this.B=!1;if(a!=Mf)try{var b=this;a.call(void 0,function(c){Of(b,2,c)},function(c){Of(b,3,c)})}catch(c){Of(this,3,c)}};Qf=function(){this.next=this.o=this.j=this.v=this.i=null;this.A=!1};Qf.prototype.reset=function(){this.o=this.j=this.v=this.i=null;this.A=!1};var Rf=new Cf(function(){return new Qf},function(a){a.reset()}),Sf=function(a,b,c){var d=Rf.get();d.v=a;d.j=b;d.o=c;return d};
_.Pf.prototype.then=function(a,b,c){return Tf(this,typeof a==="function"?a:null,typeof b==="function"?b:null,c)};_.Pf.prototype.$goog_Thenable=!0;_.Pf.prototype.D=function(a,b){return Tf(this,null,a,b)};_.Pf.prototype.catch=_.Pf.prototype.D;_.Pf.prototype.cancel=function(a){if(this.i==0){var b=new _.Uf(a);Kf(function(){Vf(this,b)},this)}};
var Vf=function(a,b){if(a.i==0)if(a.o){var c=a.o;if(c.j){for(var d=0,e=null,f=null,g=c.j;g&&(g.A||(d++,g.i==a&&(e=g),!(e&&d>1)));g=g.next)e||(f=g);e&&(c.i==0&&d==1?Vf(c,b):(f?(d=f,d.next==c.v&&(c.v=d),d.next=d.next.next):Wf(c),Xf(c,e,3,b)))}a.o=null}else Of(a,3,b)},Zf=function(a,b){a.j||a.i!=2&&a.i!=3||Yf(a);a.v?a.v.next=b:a.j=b;a.v=b},Tf=function(a,b,c,d){var e=Sf(null,null,null);e.i=new _.Pf(function(f,g){e.v=b?function(h){try{var k=b.call(d,h);f(k)}catch(l){g(l)}}:f;e.j=c?function(h){try{var k=
c.call(d,h);k===void 0&&h instanceof _.Uf?g(h):f(k)}catch(l){g(l)}}:g});e.i.o=a;Zf(a,e);return e.i};_.Pf.prototype.G=function(a){this.i=0;Of(this,2,a)};_.Pf.prototype.J=function(a){this.i=0;Of(this,3,a)};
var Of=function(a,b,c){if(a.i==0){a===c&&(b=3,c=new TypeError("L"));a.i=1;a:{var d=c,e=a.G,f=a.J;if(d instanceof _.Pf){Zf(d,Sf(e||Mf,f||null,a));var g=!0}else if(_.Nf(d))d.then(e,f,a),g=!0;else{if(_.Pb(d))try{var h=d.then;if(typeof h==="function"){$f(d,h,e,f,a);g=!0;break a}}catch(k){f.call(a,k);g=!0;break a}g=!1}}g||(a.C=c,a.i=b,a.o=null,Yf(a),b!=3||c instanceof _.Uf||ag(a,c))}},$f=function(a,b,c,d,e){var f=!1,g=function(k){f||(f=!0,c.call(e,k))},h=function(k){f||(f=!0,d.call(e,k))};try{b.call(a,
g,h)}catch(k){h(k)}},Yf=function(a){a.B||(a.B=!0,Kf(a.F,a))},Wf=function(a){var b=null;a.j&&(b=a.j,a.j=b.next,b.next=null);a.j||(a.v=null);return b};_.Pf.prototype.F=function(){for(var a;a=Wf(this);)Xf(this,a,this.i,this.C);this.B=!1};Xf=function(a,b,c,d){if(c==3&&b.j&&!b.A)for(;a&&a.A;a=a.o)a.A=!1;if(b.i)b.i.o=null,bg(b,c,d);else try{b.A?b.v.call(b.o):bg(b,c,d)}catch(e){cg.call(null,e)}Bf(Rf,b)};bg=function(a,b,c){b==2?a.v.call(a.o,c):a.j&&a.j.call(a.o,c)};
ag=function(a,b){a.A=!0;Kf(function(){a.A&&cg.call(null,b)})};cg=_.ea;_.Uf=function(a){_.aa.call(this,a)};_.B(_.Uf,_.aa);_.Uf.prototype.name="cancel";
}catch(e){_._DumpException(e)}
try{
var fg;_.dg=function(a){a&&typeof a.dispose=="function"&&a.dispose()};_.eg=function(a,b){b==void 0&&(b=0);return a!=null?a:b};_.gg=function(a,b){let c,d;for(let e=1;e<arguments.length;e++){d=arguments[e];for(c in d)a[c]=d[c];for(let f=0;f<fg.length;f++)c=fg[f],Object.prototype.hasOwnProperty.call(d,c)&&(a[c]=d[c])}};_.hg=function(a,b){a.ta?b():(a.Y||(a.Y=[]),a.Y.push(b))};_.ig=function(a,b){_.hg(a,_.Sb(_.dg,b))};
_.jg=function(a){var b=0,c;for(c in a.i){for(var d=a.i[c],e=0;e<d.length;e++)++b,_.hf(d[e]);delete a.i[c];a.j--}};_.kg=function(a){return/^[\s\xa0]*$/.test(a)};fg="constructor hasOwnProperty isPrototypeOf propertyIsEnumerable toLocaleString toString valueOf".split(" ");_.W=function(){_.R.call(this);this.Va=new _.jf(this);this.eg=this;this.Yc=null};_.B(_.W,_.R);_.W.prototype[_.df]=!0;_.n=_.W.prototype;_.n.Ng=function(){return this.Yc};_.n.zc=function(a){this.Yc=a};
_.n.addEventListener=function(a,b,c,d){_.qf(this,a,b,c,d)};_.n.removeEventListener=function(a,b,c,d){_.yf(this,a,b,c,d)};
_.n.dispatchEvent=function(a){var b,c=this.Yc;if(c)for(b=[];c;c=c.Yc)b.push(c);c=this.eg;var d=a.type||a;if(typeof a==="string")a=new _.bf(a,c);else if(a instanceof _.bf)a.target=a.target||c;else{var e=a;a=new _.bf(d,c);_.gg(a,e)}e=!0;if(b)for(var f=b.length-1;!a.i&&f>=0;f--){var g=a.currentTarget=b[f];e=lg(g,d,!0,a)&&e}a.i||(g=a.currentTarget=c,e=lg(g,d,!0,a)&&e,a.i||(e=lg(g,d,!1,a)&&e));if(b)for(f=0;!a.i&&f<b.length;f++)g=a.currentTarget=b[f],e=lg(g,d,!1,a)&&e;return e};
_.n.P=function(){_.W.X.P.call(this);this.Va&&_.jg(this.Va);this.Yc=null};_.n.listen=function(a,b,c,d){return this.Va.add(String(a),b,!1,c,d)};_.n.Ga=function(a,b,c,d){return this.Va.add(String(a),b,!0,c,d)};_.n.Fa=function(a,b,c,d){this.Va.remove(String(a),b,c,d)};_.n.Hd=function(a){return _.lf(this.Va,a)};
var lg=function(a,b,c,d){b=a.Va.i[String(b)];if(!b)return!0;b=b.concat();for(var e=!0,f=0;f<b.length;++f){var g=b[f];if(g&&!g.Zc&&g.capture==c){var h=g.listener,k=g.xd||g.src;g.kd&&a.Hd(g);e=h.call(k,d)!==!1&&e}}return e&&!d.defaultPrevented};_.W.prototype.ud=function(a,b){return this.Va.ud(String(a),b)};_.W.prototype.Uc=function(a,b,c,d){return this.Va.Uc(String(a),b,c,d)};_.W.prototype.hasListener=function(a,b){return this.Va.hasListener(a!==void 0?String(a):void 0,b)};_.mg=function(a,b){_.W.call(this);this.j=a||1;this.i=b||_.t;this.o=(0,_.z)(this.Mh,this);this.v=Date.now()};_.B(_.mg,_.W);_.n=_.mg.prototype;_.n.Wb=!1;_.n.ab=null;_.n.Mh=function(){if(this.Wb){const a=Date.now()-this.v;a>0&&a<this.j*.8?this.ab=this.i.setTimeout(this.o,this.j-a):(this.ab&&(this.i.clearTimeout(this.ab),this.ab=null),this.dispatchEvent("tick"),this.Wb&&(this.stop(),this.start()))}};_.n.start=function(){this.Wb=!0;this.ab||(this.ab=this.i.setTimeout(this.o,this.j),this.v=Date.now())};
_.n.stop=function(){this.Wb=!1;this.ab&&(this.i.clearTimeout(this.ab),this.ab=null)};_.n.P=function(){_.mg.X.P.call(this);this.stop();delete this.i};_.ng=function(a,b,c){if(typeof a==="function")c&&(a=(0,_.z)(a,c));else if(a&&typeof a.handleEvent=="function")a=(0,_.z)(a.handleEvent,a);else throw Error("M");return Number(b)>2147483647?-1:_.t.setTimeout(a,b||0)};_.og=function(a){_.t.clearTimeout(a)};
}catch(e){_._DumpException(e)}
try{
_.pg=function(a){_.R.call(this);this.L=a;this.J={}};_.B(_.pg,_.R);var qg=[];_.pg.prototype.listen=function(a,b,c,d){return rg(this,a,b,c,d)};_.pg.prototype.v=function(a,b,c,d,e){return rg(this,a,b,c,d,e)};var rg=function(a,b,c,d,e,f){Array.isArray(c)||(c&&(qg[0]=c.toString()),c=qg);for(var g=0;g<c.length;g++){var h=_.qf(b,c[g],d||a.handleEvent,e||!1,f||a.L||a);if(!h)break;a.J[h.key]=h}return a};_.pg.prototype.Ga=function(a,b,c,d){return sg(this,a,b,c,d)};
var sg=function(a,b,c,d,e,f){if(Array.isArray(c))for(var g=0;g<c.length;g++)sg(a,b,c[g],d,e,f);else{b=_.pf(b,c,d||a.handleEvent,e,f||a.L||a);if(!b)return a;a.J[b.key]=b}return a};_.pg.prototype.Fa=function(a,b,c,d,e){if(Array.isArray(b))for(var f=0;f<b.length;f++)this.Fa(a,b[f],c,d,e);else c=c||this.handleEvent,d=_.Pb(d)?!!d.capture:!!d,e=e||this.L||this,c=_.rf(c),d=!!d,b=_.ef(a)?a.Uc(b,c,d,e):a?(a=_.tf(a))?a.Uc(b,c,d,e):null:null,b&&(_.zf(b),delete this.J[b.key])};
_.tg=function(a){_.Fb(a.J,function(b,c){this.J.hasOwnProperty(c)&&_.zf(b)},a);a.J={}};_.pg.prototype.P=function(){_.pg.X.P.call(this);_.tg(this)};_.pg.prototype.handleEvent=function(){throw Error("N");};
}catch(e){_._DumpException(e)}
try{
var ug,Ag;ug=function(a,b,c,d){function e(g,h){g!=null&&(Array.isArray(g)?g.forEach(k=>e(k,h)):(b+=f+encodeURIComponent(h)+"="+encodeURIComponent(g),f="&"))}let f=b.length?"&":"?";d.constructor===Object&&(d=Object.entries(d));Array.isArray(d)?d.forEach(g=>e(g[1],g[0])):d.forEach(e);return _.ge(a+b+c)};_.vg=function(a,b){a=_.he(a).toString();const c=a.split(/[?#]/),d=/[?]/.test(a)?"?"+c[1]:"";return ug(c[0],d,/[#]/.test(a)?"#"+(d?c[2]:c[1]):"",b)};_.wg=function(a,b){this.width=a;this.height=b};
_.n=_.wg.prototype;_.n.aspectRatio=function(){return this.width/this.height};_.n.ub=function(){return!(this.width*this.height)};_.n.ceil=function(){this.width=Math.ceil(this.width);this.height=Math.ceil(this.height);return this};_.n.floor=function(){this.width=Math.floor(this.width);this.height=Math.floor(this.height);return this};_.n.round=function(){this.width=Math.round(this.width);this.height=Math.round(this.height);return this};_.xg=function(a){return new _.wg(a.width,a.height)};
_.yg=function(a){a=a.document;a=a.compatMode=="CSS1Compat"?a.documentElement:a.body;return new _.wg(a.clientWidth,a.clientHeight)};_.zg=function(a,b){return a==b?!0:a&&b?a.width==b.width&&a.height==b.height:!1};Ag=function(a){return String(a).replace(/\-([a-z])/g,function(b,c){return c.toUpperCase()})};_.Bg=function(a){return a.replace(RegExp("(^|[\\s]+)([a-z])","g"),function(b,c,d){return c+d.toUpperCase()})};_.Cg=function(){return _.pc?"Webkit":_.oc?"Moz":_.mc?"ms":null};var Eg,Dg;_.X=function(a,b,c){if(typeof b==="string")(b=Dg(a,b))&&(a.style[b]=c);else for(var d in b){c=a;var e=b[d],f=Dg(c,d);f&&(c.style[f]=e)}};Eg={};Dg=function(a,b){var c=Eg[b];if(!c){var d=Ag(b);c=d;a.style[d]===void 0&&(d=_.Cg()+_.Bg(d),a.style[d]!==void 0&&(c=d));Eg[b]=c}return c};_.Fg=function(a,b){var c=a.style[Ag(b)];return typeof c!=="undefined"?c:a.style[Dg(a,b)]||""};
_.Gg=function(a,b){var c=_.te(a);return c.defaultView&&c.defaultView.getComputedStyle&&(a=c.defaultView.getComputedStyle(a,null))?a[b]||a.getPropertyValue(b)||"":""};_.Hg=function(a,b){return _.Gg(a,b)||(a.currentStyle?a.currentStyle[b]:null)||a.style&&a.style[b]};_.Ig=function(a){try{return a.getBoundingClientRect()}catch(b){return{left:0,top:0,right:0,bottom:0}}};
_.Kg=function(a){var b=_.Jg;if(_.Hg(a,"display")!="none")return b(a);var c=a.style,d=c.display,e=c.visibility,f=c.position;c.visibility="hidden";c.position="absolute";c.display="inline";a=b(a);c.display=d;c.position=f;c.visibility=e;return a};_.Jg=function(a){var b=a.offsetWidth,c=a.offsetHeight,d=_.pc&&!b&&!c;return(b===void 0||d)&&a.getBoundingClientRect?(a=_.Ig(a),new _.wg(a.right-a.left,a.bottom-a.top)):new _.wg(b,c)};_.Lg=function(a,b){a.style.display=b?"":"none"};
_.Mg=_.oc?"MozUserSelect":_.pc||_.nc?"WebkitUserSelect":null;
}catch(e){_._DumpException(e)}
try{
var Ng,Pg;Ng=function(a,b,c){return arguments.length<=2?Array.prototype.slice.call(a,b):Array.prototype.slice.call(a,b,c)};_.Og=function(a,b,c,d){Array.prototype.splice.apply(a,Ng(arguments,1))};Pg=function(a,b){return a!==null&&b in a?a[b]:void 0};_.Qg=function(a){return a==null?"":String(a)};_.Rg=function(){};_.Rg.rc=void 0;_.Rg.i=function(){return _.Rg.rc?_.Rg.rc:_.Rg.rc=new _.Rg};_.Rg.prototype.i=0;_.Sg=function(a){return":"+(a.i++).toString(36)};var Tg;_.Ug=function(a){_.W.call(this);this.o=a||_.ue();this.Z=Tg;this.S=null;this.va=!1;this.i=null;this.J=void 0;this.F=this.A=this.j=this.B=null;this.wa=!1};_.B(_.Ug,_.W);_.Ug.prototype.Xa=_.Rg.i();Tg=null;_.Vg=function(a){return a.S||(a.S=_.Sg(a.Xa))};_.Ug.prototype.H=function(){return this.i};var Wg=function(a,b){if(a==b)throw Error("P");var c;if(c=b&&a.j&&a.S){c=a.j;var d=a.S;c=c.F&&d?Pg(c.F,d)||null:null}if(c&&a.j!=b)throw Error("P");a.j=b;_.Ug.X.zc.call(a,b)};
_.Ug.prototype.zc=function(a){if(this.j&&this.j!=a)throw Error("Q");_.Ug.X.zc.call(this,a)};_.Ug.prototype.Xb=function(){this.i=_.Ae(this.o.i,"DIV")};_.Ug.prototype.render=function(a){Xg(this,a)};var Xg=function(a,b,c){if(a.va)throw Error("R");a.i||a.Xb();b?b.insertBefore(a.i,c||null):a.o.i.body.appendChild(a.i);a.j&&!a.j.va||a.Ja()};_.n=_.Ug.prototype;_.n.Sc=function(a){this.i=a};_.n.Ja=function(){this.va=!0;_.Yg(this,function(a){!a.va&&a.H()&&a.Ja()})};
_.n.fb=function(){_.Yg(this,function(a){a.va&&a.fb()});this.J&&_.tg(this.J);this.va=!1};_.n.P=function(){this.va&&this.fb();this.J&&(this.J.dispose(),delete this.J);_.Yg(this,function(a){a.dispose()});!this.wa&&this.i&&_.Fe(this.i);this.j=this.B=this.i=this.F=this.A=null;_.Ug.X.P.call(this)};
_.n.lc=function(a,b,c){if(a.va&&(c||!this.va))throw Error("R");if(b<0||b>_.Zg(this))throw Error("T");this.F&&this.A||(this.F={},this.A=[]);if(a.j==this){var d=this.F,e=_.Vg(a);d[e]=a;_.Ze(this.A,a)}else{d=this.F;e=_.Vg(a);if(d!==null&&e in d)throw Error("E`"+e);d[e]=a}Wg(a,this);_.Og(this.A,b,0,a);a.va&&this.va&&a.j==this?(c=this.i,(c.childNodes[b]||null)!=a.H()&&(a.H().parentElement==c&&c.removeChild(a.H()),b=c.childNodes[b]||null,c.insertBefore(a.H(),b))):c?(this.i||this.Xb(),b=_.$g(this,b+1),Xg(a,
this.i,b?b.i:null)):this.va&&!a.va&&a.i&&a.i.parentNode&&a.i.parentNode.nodeType==1&&a.Ja()};_.Zg=function(a){return a.A?a.A.length:0};_.$g=function(a,b){return a.A?a.A[b]||null:null};_.Yg=function(a,b,c){a.A&&a.A.forEach(b,c)};_.Ug.prototype.Nc=function(a,b){if(a){var c=typeof a==="string"?a:_.Vg(a);a=this.F&&c?Pg(this.F,c)||null:null;if(c&&a){var d=this.F;c in d&&delete d[c];_.Ze(this.A,a);b&&(a.fb(),a.i&&_.Fe(a.i));Wg(a,null)}}if(!a)throw Error("U");return a};
}catch(e){_._DumpException(e)}
try{
var ah;ah=function(a,b,c){if(a.j)return null;if(c instanceof Array){var d=null;for(var e of c)(c=ah(a,b,e))&&(d=c);return d}d=null;a.i&&a.i.type==c&&a.A==b&&(d=a.i,a.i=null);if(e=b.dataset.eqid)delete b.dataset.eqid,(e=a.B[e])?b.removeEventListener?b.removeEventListener(c,e,!1):b.detachEvent&&b.detachEvent("on"+c,e):a.o.log(Error("C`"+b));return d};_.bh=function(a,b,c){return Array.prototype.map.call(a,b,c)};_.ch=function(a,b,c){return function(){try{return b.apply(c,arguments)}catch(d){a.log(d)}}};_.eh=function(a,b,c,d,e,f){d=_.ch(a,d,f);a=_.qf(b,c,d,e,f);_.dh(b,c);return a};_.dh=function(a,b){if(a instanceof Element&&(b=ah(_.Qd("eq"),a,b||[])))if(_.mc&&b instanceof MouseEvent&&a.dispatchEvent){var c=document.createEvent("MouseEvent");c.initMouseEvent(b.type,!0,!0,b.view,b.detail,b.screenX,b.screenY,b.clientX,b.clientY,b.ctrlKey,b.altKey,b.shiftKey,b.metaKey,b.button,b.relatedTarget);a.dispatchEvent(c)}else a.dispatchEvent&&a.dispatchEvent(b)};
}catch(e){_._DumpException(e)}
try{
var fh;fh=function(a){return Array.isArray(a)?_.bh(a,fh):typeof a==="string"?a:a?a.toString():a};
_.gh=class extends _.pg{constructor(a,b){super(b);this.C=a;this.oa=b||this}listen(a,b,c,d){if(c){if(typeof c!="function")throw new TypeError("V");c=_.ch(this.C,c,this.oa);c=super.listen(a,b,c,d);_.dh(a,fh(b));return c}return super.listen(a,b,c,d)}v(a,b,c,d,e){if(c){if(typeof c!="function")throw new TypeError("V");c=_.ch(this.C,c,e||this.oa);c=super.v(a,b,c,d,e);_.dh(a,fh(b));return c}return super.v(a,b,c,d,e)}Ga(a,b,c,d){if(c){if(typeof c!="function")throw new TypeError("V");c=_.ch(this.C,c,this.oa);
c=super.Ga(a,b,c,d);_.dh(a,fh(b));return c}return super.Ga(a,b,c,d)}};_.hh=class extends _.gh{constructor(a,b){super(b);this.j=a}H(){return this.j}P(){this.j=null;super.P()}};
}catch(e){_._DumpException(e)}
try{
_.ih=class extends _.hh{constructor(a){super(a,_.ed)}};
}catch(e){_._DumpException(e)}
try{
_.jh=function(a,b){b=_.ke(b);b!==void 0&&(a.href=b)};_.lh=function(a,b,c){_.kh.listen(b,c,void 0,a.L||a,a)};_.mh=function(a,b){var c=b||document;return c.querySelectorAll&&c.querySelector?c.querySelectorAll("."+a):_.we(document,a,b)};_.nh=function(a,b){for(var c=0;a;){if(b(a))return a;a=a.parentNode;c++}return null};_.oh=function(a,b){return b?_.nh(a,function(c){return!b||typeof c.className==="string"&&_.va(c.className.split(/\s+/),b)}):null};var ph,qh;ph=function(){};_.kh=new ph;qh=["click","keydown","keyup"];ph.prototype.listen=function(a,b,c,d,e){var f=function(g){var h=_.rf(b),k=_.Je(g.target)?g.target.getAttribute("role")||null:null;g.type!="click"||g.Pb.button!=0||_.qc&&g.ctrlKey?g.keyCode!=13&&g.keyCode!=3||g.type=="keyup"?g.keyCode!=32||k!="button"&&k!="tab"&&k!="radio"||(g.type=="keyup"&&h.call(d,g),g.preventDefault()):(g.type="keypress",h.call(d,g)):h.call(d,g)};f.eb=b;f.Eh=d;e?e.listen(a,qh,f,c):_.qf(a,qh,f,c)};
ph.prototype.Fa=function(a,b,c,d,e){for(var f,g=0;f=qh[g];g++){var h=a;var k=f;var l=!!c;k=_.ef(h)?h.ud(k,l):h?(h=_.tf(h))?h.ud(k,l):[]:[];for(h=0;l=k[h];h++){var m=l.listener;if(m.eb==b&&m.Eh==d){e?e.Fa(a,f,l.listener,c,d):_.yf(a,f,l.listener,c,d);break}}}};
}catch(e){_._DumpException(e)}
try{
_.Y=function(a,b,c){c?_.Ue(a,b):_.We(a,b)};_.rh=!_.mc&&!_.pa();
}catch(e){_._DumpException(e)}
try{
_.sh=function(a){const b=[];let c=0;for(const d in a)b[c++]=a[d];return b};_.th=function(a){if(a.v)return a.v;for(const b in a.i)if(a.i[b].ma()&&a.i[b].B())return a.i[b];return null};_.uh=function(a,b){a.i[b.K()]=b};var vh=new class extends _.R{constructor(){var a=_.ed;super();this.B=a;this.v=null;this.o={};this.C={};this.i={};this.j=null}A(a){this.i[a]&&(_.th(this)&&_.th(this).K()==a||this.i[a].R(!0))}Ta(a){this.j=a;for(const b in this.i)this.i[b].ma()&&this.i[b].Ta(a)}nc(a){return a in this.i?this.i[a]:null}};_.yd("dd",vh);
}catch(e){_._DumpException(e)}
try{
var xh,Ih,Jh,Kh,Lh,Nh,Ph,Qh,yh,Rh,Ah,wh,Sh,Th,Uh,Vh,Wh,Xh,Yh,Zh,$h,ai,bi,ci,di,ei,fi,gi;xh=function(a){return _.nh(a,function(b){return b.nodeType==1&&wh(b,"hidden")=="true"})!=null};_.Bh=function(a){return a?yh(a,function(b){return b.nodeType==1&&Ah(b)&&!xh(b)}):[]};_.Ch=function(a,b){a&&b&&_.jh(a,a.href.replace(/([?&](continue|followup)=)[^&]*/g,"$1"+encodeURIComponent(b)))};
_.Hh=function(){_.A("gbar.I",_.Dh);_.Dh.prototype.ia=_.Dh.prototype.S;_.Dh.prototype.ib=_.Dh.prototype.H;_.Dh.prototype.ic=_.Dh.prototype.oa;_.A("gbar.J",_.Eh);_.Eh.prototype.ja=_.Eh.prototype.U;_.Eh.prototype.jb=_.Eh.prototype.T;_.A("gbar.K",_.Fh);_.A("gbar.L",_.Gh);_.Gh.prototype.la=_.Gh.prototype.j};Ih=function(a,b){b.xa=b.type;b.xb=b.target;return a.call(this,b)};Jh=class{constructor(a,b,c){this.j=a;this.i={};a=0;for(var d=b.length;a<d;a++)this.i[b[a]]=!0;this.o=c;this.v=_.t}};
Kh=function(a,b,c){a=_.U("gb_Od",a.H());if(b!=""||c!="")_.V(a,"gb_Ic")?_.Fg(a,"background-image")!=""&&(b=c!=""?c:b,_.X(a,"background-image","url('"+b+"')"),a=_.U("gb_Jc",a),a!==null&&a.tagName=="IMG"&&(a.src=b)):a.tagName=="IMG"&&(a.src=b!=""?b:c,b!=c&&(c=c!=""?c+" 2x ":"",b!=""&&(c=c+(c==""?"":",")+(b+" 1x")),a.setAttribute("srcset",c)))};Lh=function(a,b,c){_.R.call(this);this.eb=a;this.o=b||0;this.i=c;this.j=(0,_.z)(this.Pf,this)};_.B(Lh,_.R);_.n=Lh.prototype;_.n.Oc=0;
_.n.P=function(){Lh.X.P.call(this);this.stop();delete this.eb;delete this.i};_.n.start=function(a){this.stop();this.Oc=_.ng(this.j,a!==void 0?a:this.o)};_.n.stop=function(){this.isActive()&&_.og(this.Oc);this.Oc=0};_.n.isActive=function(){return this.Oc!=0};_.n.Pf=function(){this.Oc=0;this.eb&&this.eb.call(this.i)};_.Mh=function(a,b){b&&_.th(a)&&b!=_.th(a)&&_.th(a).R(!1);a.v=b};
Nh=function(a){var b=_.wd.i(),c=["asl"];if(c.length!=a.length)throw new _.aa;var d=[];for(let f=0,g=c.length;f<g;f++){var e=c[f];b.i[e]||d.push(e)}if(d.length==0){d=c.length;e=Array(d);for(let f=0;f<d;f++)e[f]=b.i[c[f]];a.apply(_.t,e)}else{a=new Jh(c,d,a);for(let f=0,g=d.length;f<g;f++)c=d[f],(e=b.j[c])||(b.j[c]=e=[]),e.push(a)}};_.Oh=function(a){return String(a).replace(/([A-Z])/g,"-$1").toLowerCase()};
Ph=function(a,b,c,d){if(a!=null)for(a=a.firstChild;a;){if(b(a)&&(c.push(a),d)||Ph(a,b,c,d))return!0;a=a.nextSibling}return!1};Qh=function(a,b){var c=[];return Ph(a,b,c,!0)?c[0]:void 0};yh=function(a,b){var c=[];Ph(a,b,c,!1);return c};Rh=function(a){a=a.tabIndex;return typeof a==="number"&&a>=0&&a<32768};
Ah=function(a){return a.tagName=="A"&&a.hasAttribute("href")||a.tagName=="INPUT"||a.tagName=="TEXTAREA"||a.tagName=="SELECT"||a.tagName=="BUTTON"?!a.disabled&&(!a.hasAttribute("tabindex")||Rh(a)):a.hasAttribute("tabindex")&&Rh(a)};wh=function(a,b){a=a.getAttribute("aria-"+b);return a==null||a==void 0?"":String(a)};Sh=function(a){a.j||(a.j=_.qf(a.i,"keydown",a.o,!1,a))};Th=function(a){a.j&&(_.zf(a.j),a.j=null)};Uh=function(a){Th(a);_.Y(a.i,"gb_ca",!1)};
Vh=class{constructor(a){this.i=a;this.j=null}o(a){a.keyCode!=9||_.V(this.i,"gb_ca")||(_.Y(this.i,"gb_ca",!0),Th(this))}};_.Dh=class extends _.W{constructor(a,b){super();this.v=a;b&&(this.v.id=b)}H(){return this.v}S(){return this.v.id}oa(){let a=this.v.id;a||(a="gb$"+_.Sg(_.Rg.i()),this.v.id=a);return a}P(){_.Fe(this.v);super.P()}};_.Dh.prototype.K=function(){return this.H()};Wh=function(a){return Qh(a,function(b){return _.Je(b)&&Ah(b)})};Xh=function(a){(a=Wh(a))&&a.focus()};
Yh={Ei:"gb_cc",Vi:"gb_Fd",di:"gb_Wc"};_.Eh=class extends _.Dh{constructor(a){super(a);this.A=[];this.D={}}U(a){let b=this.D[a];if(b)return b;const c=document.getElementById(a);if(c)for(let d=0,e=this.A.length;d<e;++d)if(b=this.A[d],b.H()==c)return this.D[a]=b;return null}T(){for(let a=0,b=this.A.length;a<b;a++)this.A[a].dispose();this.D={};this.A=[]}};
Zh=function(a){var b;if(b=a instanceof HTMLElement)b=/-[a-z]/.test("ogobm")?!1:_.rh&&a.dataset?"ogobm"in a.dataset:a.hasAttribute?a.hasAttribute("data-"+_.Oh("ogobm")):!!a.getAttribute("data-"+_.Oh("ogobm"));return b};$h="click mousedown scroll touchstart wheel keydown".split(" ");ai=class{};
bi=function(a){_.lh(a.j,a.H(),a.Z);a.H().addEventListener("keydown",function(c){c.keyCode==32&&c.preventDefault()});a.j.listen(a.i,"keydown",a.fa);a.j.listen(a.i,"keyup",a.qa);const b=new Map;b.set("close","cbc");b.set("back","bbc");b.forEach((c,d)=>{_.lh(a.j,a.C.get(d),function(){this.dispatchEvent(c)})});if(_.V(a.i,"gb_cc")||_.V(a.i,"gb_Fd"))a.j.listen(window,"resize",a.N),a.N();_.V(a.i,"gb_Qc")||a.j.Ga(window,"touchstart",()=>{_.X(a.i,"overflow-y","auto")})};
ci=function(a){a.j.Fa(document.body,$h,a.M,!1,a);a.j.Fa(document.body,"focusin",a.L)};di=function(a,b){(a=a.C.get(b))&&_.We(a,"gb_R")};ei=function(a){a.C.forEach(b=>{_.Ue(b,"gb_R")})};fi=function(a){return!_.V(a.i,"gb_Vc")||_.V(a.i,"gb_cc")||_.V(a.i,"gb_Fd")};
gi=class extends _.Eh{constructor(a,b,c,d,e){const f=a.get("menu");super(f);this.i=b;this.O=f;this.C=a;this.V=a.get("back");this.B=_.U("gb_Mc");this.G=c;this.F=_.U("gb_Xc",this.i);this.J=new Vh(this.F);this.wa=[];this.ma=d||!1;this.R=e||!1;this.j=new _.pg(this);bi(this)}P(){super.P();ci(this)}K(){return this.F}W(){return _.U("gb_5d",this.i)}da(a){_.Y(this.i,"gb_Vc",a==1);this.dispatchEvent("msc")}getStyle(){return fi(this)?0:1}Ea(a){this.B||(this.B=_.U("gb_Mc"));this.B&&a&&_.Ke(this.B,a)}isVisible(a){return(a=
this.C.get(a))?!_.V(a,"gb_R"):!1}open(a){this.G||(a&&_.X(this.i,"transition","none"),this.dispatchEvent("beforeshow"),_.Ue(this.i,"gb_Tc"),_.Me(this.H(),"expanded",!0),Xh(this.F),Sh(this.J),this.dispatchEvent("open"),this.j.v(document.body,$h,this.M,!0,this),this.j.listen(document.body,"focusin",this.L),a&&_.ng(function(){_.X(this.i,"transition","")},0,this))}Ba(a){this.G&&_.Me(this.H(),"expanded",a)}close(a){this.G||(a&&_.X(this.i,"transition","none"),_.We(this.i,"gb_Tc"),_.Me(this.H(),"expanded",
!1),document.activeElement==this.H()&&this.H().blur(),Uh(this.J),this.dispatchEvent("close"),ci(this),a&&_.ng(function(){_.X(this.i,"transition","")},0,this))}o(){return _.V(this.i,"gb_Tc")}N(){const a=window.visualViewport?window.visualViewport.height:window.innerHeight;a&&_.X(this.i,"height",`calc(${a}px - 100%)`)}Z(){this.dispatchEvent("mbc");if(!this.G){if(this.o()){this.close();var a=!0}else this.open(),a=!1;a&&this.H().focus()}}qa(a){a.keyCode===9&&this.o()&&(a=this.J,_.Y(a.i,"gb_ca",!0),Th(a))}fa(a){a:{if(a.keyCode==
36||a.keyCode==35){var b=_.Bh(this.i);if(b.length>0){var c=b[b.length-1];a.keyCode==36&&(c=!fi(this)&&b.length>1?b[1]:b[0]);c.focus();a.preventDefault();break a}}a.keyCode!=27||this.ma&&!fi(this)||(this.close(),this.O!=null&&this.O.focus())}a.keyCode===9&&this.o()&&fi(this)&&(b=a.target,c=_.Bh(this.i),c.length>0&&(b==c[0]&&a.shiftKey?(c[c.length-1].focus(),a.preventDefault()):b!=c[c.length-1]||a.shiftKey||(c[0].focus(),a.preventDefault())))}M(a){this.o()&&a.target instanceof Node&&!(!fi(this)||this.R&&
_.nh(a.target,Zh))&&(a.type=="keydown"?a.keyCode==27&&(a.preventDefault(),a.stopPropagation(),this.close(),this.H().focus()):_.oh(a.target,"gb_la")||_.oh(a.target,"gb_Kc")||_.Ge(this.i,a.target)||(a.type=="touchstart"&&(a.preventDefault(),a.stopPropagation()),this.close()))}L(){this.o()&&(!fi(this)||document.activeElement.tagName!="IFRAME"&&(this.R&&_.nh(document.activeElement,Zh)||_.oh(document.activeElement,"gb_Pc")||_.oh(document.activeElement,"gb_la")||Xh(this.F)))}ea(){this.wa.push(new ai)}};
_.Fh=class extends _.Dh{constructor(a){super(a);_.kh.listen(a,this.i,!1,this)}i(a){this.dispatchEvent("click")||a.preventDefault()}};var hi=class{constructor(){this.i=null}Wc(){return this.i}};var ii=class{constructor(a,b,c){this.i=a;this.j=b;this.o=c||_.t}};var ji=class{constructor(a){this.i=[];this.v=a||this}j(a,b,c){this.A(a,b,c);this.i.push(new ii(a,b,c))}A(a,b,c){c=c||_.t;for(var d=0,e=this.i.length;d<e;d++){var f=this.i[d];if(f.i==a&&f.j==b&&f.o==c){this.i.splice(d,1);break}}}o(a){a.i=this.v;for(var b=0,c=this.i.length;b<c;b++){var d=this.i[b];d.i=="catc"&&d.j.call(d.o,a)}}};var li=function(a,b){_.W.call(this);this.i=a;this.o=ki(this.i);this.C=b||100;this.v=_.qf(a,"resize",this.A,!1,this)};_.B(li,_.W);li.prototype.P=function(){_.zf(this.v);li.X.P.call(this)};li.prototype.A=function(){this.j||(this.j=new Lh(this.B,this.C,this),_.ig(this,this.j));this.j.start()};
li.prototype.B=function(){if(!this.i.isDisposed()){var a=this.o,b=ki(this.i);this.o=b;if(a){var c=!1;a.width!=b.width&&(this.dispatchEvent("b"),c=!0);a.height!=b.height&&(this.dispatchEvent("a"),c=!0);c&&this.dispatchEvent("resize")}else this.dispatchEvent("a"),this.dispatchEvent("b"),this.dispatchEvent("resize")}};var mi=function(a){_.W.call(this);this.j=a||window;this.o=_.qf(this.j,"resize",this.v,!1,this);this.i=_.yg(this.j||window)};_.B(mi,_.W);var oi=function(){var a=window,b=_.Ie(a);return ni[b]=ni[b]||new mi(a)},ni={},ki=function(a){return a.i?_.xg(a.i):null};mi.prototype.P=function(){mi.X.P.call(this);this.o&&(_.zf(this.o),this.o=null);this.i=this.j=null};mi.prototype.v=function(){var a=_.yg(this.j||window);_.zg(a,this.i)||(this.i=a,this.dispatchEvent("resize"))};var pi=function(a,b){for(var c=0,d=b.length-1,e=b[0];c<d;){if(a<=e.max)return e.id;e=b[++c]}return b[d].id},qi=class{constructor(a,b){this.v=new ji(this);this.D=a;this.B=b;this.i=pi(a.offsetWidth,this.B);this.F=new li(oi(),10);_.qf(this.F,"b",function(){window.requestAnimationFrame?window.requestAnimationFrame((0,_.z)(this.C,this)):this.C()},!1,this)}C(){var a=pi(this.D.offsetWidth,this.B);a!=this.i&&(this.i=a,this.o(new hi))}j(a,b,c){this.v.j(a,b,c)}A(a,b){this.v.A(a,b)}o(a){this.v.o(a)}};_.Gh=class extends _.Dh{constructor(a){super(a);_.qf(a,"click",this.i,!1,this)}j(){var a=this.H().getAttribute("aria-pressed");return(a==null?a:typeof a==="boolean"?a:a=="true")||!1}i(a){a=a.currentTarget;var b=wh(a,"pressed");_.kg(_.Qg(b))||b=="true"||b=="false"?_.Me(a,"pressed",b=="true"?"false":"true"):a.removeAttribute("aria-pressed");this.dispatchEvent("click")}};var ri,si,ti,ui,vi,Ci,zi,Di,Ei,Ai,wi,xi,yi,Bi,Gi,Z,Hi;ri=function(a,b){a.ea&&(_.Y(a.ea,"gb_R",!a.N),b&&_.Ke(a.ea,b))};si=function(a,b){if(a=_.U(b?"gb_j":"gb_u",a.o)){let c=a.offsetWidth;_.ic(a.children,function(d){_.V(d,"gb_R")&&(c-=d.offsetWidth)});return c}return 0};ti=function(a,b){a.v==null?a.M.log(Error("ca")):a.T?a.M.log(Error("da")):a.wa=b<0?0:b};
ui=function(a,b,c){let d=320;var e=_.eg(_.oe(a.j,29),0);e>0&&(d=e);e=d+2*Math.max(b,c);b=d+b+c;return e!=b&&a.T?[{id:1,max:b},{id:2,max:e},{id:3}]:[{id:1,max:b},{id:3}]};vi=function(a){const b=_.pd.i();a.C||b.i.reject(Error("Y"));_.x(_.G(a.j,7))||b.D.reject(Error("Z"));_.x(_.G(a.j,12))||b.B.reject(Error("$"));_.x(_.G(a.j,13))||b.C.reject(Error("aa"))};
Ci=function(a,b){!a.i&&a.C&&wi(a);a.i&&!a.R&&a.F("default");a.i&&a.Gb&&a.F("none");xi(a);if(a.Hb)a.L=!0;else if(a.da)a.L=!0;else if(a.N)a.L=!1;else{var c=b==="gb_cc",d=_.x(_.G(a.j,5),!1),e=_.x(_.G(a.j,7),!1);a.L=!(c&&(d||e))}c=b=="gb_cc";d=b=="gb_Fd";a.Fb&&a.S&&_.Y(a.S,"gb_R",c||d);!a.da&&!_.J(a.j,10)&&yi(a).length>1&&a.S&&a.D&&(_.Y(a.S,"gb_R",c),_.Y(a.D,"gb_Id",c));if(a.B&&!a.da){e=a.B.H();var f=!a.N;_.Y(e,"gb_R",!f);f&&zi(a,a.L)}a.i&&(a.i.isVisible("menu")||a.i.isVisible("back"))&&!fi(a.i)&&(a.oa=
a.i.o());e=_.sh(Yh);_.Xe(a.o,e);_.Ue(a.o,b);_.G(a.j,7);if(a.T&&a.A!=null)if(b!="gb_Wc")_.X(a.A,"min-width",""),_.X(a.D,"min-width","");else{f=_.Kg(a.A).width;var g=_.Kg(a.D).width;f=Math.max(f,g);_.X(a.A,"min-width",f+"px");_.X(a.D,"min-width",f+"px")}c?a.O||(a.O=!0,Ai(a,a.O)):(a.O=!1,a.fa());a.v!=null&&(_.Y(a.v,"gb_He",!c&&!d),_.Y(a.v,"gb_Fe",c||d));a.i&&(c=a.i.i,_.Xe(c,e),_.Ue(c,b),fi(a.i)?_.U("gb_Qd").appendChild(c):a.o.appendChild(c),a.i.isVisible("menu")||a.i.isVisible("back"))&&(b=!fi(a.i),
c=a.i.o(),b&&!c&&a.oa?a.i.open():!b&&c&&a.i.close());Bi(a)};zi=function(a,b){const c=_.U("gb_Od",a.B.H());_.Y(c,"gb_R",!b);a=_.U("gb_td",a.B.H());a!=null&&_.Y(a,"gb_ae",!b)};Di=function(a){a=a.W[0];return a.classList.contains("gb_Lc")?1:a.classList.contains("gb_Nd")?2:0};Ei=function(a,b){if(a.B){if(b==2){b=_.y(_.I(a.j,24),"");var c=_.y(_.I(a.j,27),"")}else b==1?(b=_.y(_.I(a.j,23),""),c=_.y(_.I(a.j,26),"")):(b=_.y(_.I(a.j,22),""),c=_.y(_.I(a.j,25),""));b==""&&c==""||Kh(a.B,b,c)}};
_.Fi=function(a,b,c){a.i&&(fi(a.i)&&(c=b=!1),a=document.body,_.Y(a,"gb_ee",b),_.Y(a,"gb_de",c))};Ai=function(a,b){if(_.J(a.j,7)&&(!a.O||b)){if(a.T){var c=_.U("gb_j",a.o);if(c){var d=_.U("gb_u",a.o),e=a.J.i!="gb_Wc"||b?"":a.Kb+"px";_.X(c,"min-width",e);_.X(d,"min-width",e)}}_.V(a.v,"gb_Be")!=b&&(_.Y(a.v,"gb_Be",b),b?a.dispatchEvent("sfi"):a.dispatchEvent("sfu"),_.Y(_.U("gb_id",a.v),"gb_Be",b))}};
wi=function(a){const b=_.U("gb_Pc");if(b){var c=new Map;c.set("menu",_.U("gb_Kc",a.o));c.set("back",_.U("gb_Nc"));c.set("close",_.U("gb_k"));var d=!1;c.forEach(e=>{e||(a.M.log(Error("W")),d=!0)});if(!d){a.i=new gi(c,b,_.x(_.G(a.j,16),!1),_.x(_.G(a.j,9),!1),_.x(_.G(a.j,33),!1));a.i.listen("open",a.Db,!1,a);a.i.listen("close",a.Cb,!1,a);a.i.listen("msc",a.Eb,!1,a);switch(_.S(a.j,32)){case 1:a.F("back");break;case 2:a.F("close");break;case 3:a.F("none");break;default:a.F("default")}_.Hh();_.A("gbar.C",
gi);gi.prototype.ca=gi.prototype.K;gi.prototype.cc=gi.prototype.ea;gi.prototype.cd=gi.prototype.da;gi.prototype.cf=gi.prototype.open;gi.prototype.cg=gi.prototype.close;gi.prototype.ch=gi.prototype.getStyle;gi.prototype.ck=gi.prototype.o;gi.prototype.cl=gi.prototype.Ba;gi.prototype.cm=gi.prototype.W;gi.prototype.cn=gi.prototype.Ea;_.pd.i().i.resolve(a.i)}}else a.M.log(Error("X"))};xi=function(a){a.A!=null&&(a.J.i=="gb_cc"?_.X(a.A,"min-width",""):a.wa!=null&&_.X(a.A,"min-width",a.wa+"px"))};
yi=function(a){const b=_.U("gb_j",a.o),c=_.U("gb_u",a.o),d=[];b&&_.ic(b.children,function(e){d.push(e)});_.x(_.G(a.j,7),!1)&&(a=_.U("gb_Be",a.v))&&(a=_.U("gb_Ee",a),a.j=!0,d.push(a));c&&_.ic(c.children,function(e){d.push(e)});return d};Bi=function(a){const b=a.o.offsetHeight+"px";a.qa!=b&&(a.qa=b,a.Ea&&(a.Ea.style.height=b),a.dispatchEvent("resize"))};Gi=function(a,b){_.Xe(a,["gb_Nd","gb_Lc"]);b==1?_.Ue(a,"gb_Lc"):b==2&&_.Ue(a,"gb_Nd")};
Z=class extends _.W{constructor(a,b,c,d){super();this.o=a;_.We(this.o,"gb_wd");this.j=b;this.M=c;this.qa="";this.Ea=d;this.B=this.i=null;this.oa=this.R=this.L=!1;this.da=_.x(_.G(this.j,16),!1);this.Na=new _.pg(this);this.V=_.U("gb_9c",this.o);this.ea=_.U("gb_bd",this.o);this.S=_.U("gb_I",this.o);(this.N=_.x(_.G(b,6),!1))&&this.V&&ri(this);this.Zb=_.U("gb_vd",this.V);this.C=_.U("gb_ld",this.o);this.K=_.U("gb_a",this.o);this.D=_.U("gb_Cd",this.o);this.A=_.U("gb_sd",this.o);this.v=_.U("gb_Bd",this.o);
this.W=Array.prototype.slice.call(_.mh("gb_pd",this.o));this.O=!1;this.Hb=_.x(_.G(this.j,19),!1);this.Gb=_.x(_.G(this.j,20),!1);this.Fb=_.x(_.G(this.j,45),!1);a=si(this,!0);b=si(this,!1);this.Kb=Math.max(a,b);this.T=_.G(this.j,15);c=_.eg(_.oe(this.j,30),0);c!=0&&ti(this,c);a=ui(this,a,b);this.J=new qi(document.body,Hi);this.yb=_.y(_.I(this.j,37));this.vb=_.y(_.I(this.j,38));this.fc=_.x(_.G(this.j,39));this.Jb=_.x(_.G(this.j,1),!1);this.Ib=_.x(_.G(this.j,40),!1);vi(this);Ci(this,this.J.i);this.J.j("catc",
this.Bb,this);_.J(this.j,8)&&document.addEventListener("scroll",(0,_.z)(function(){_.Y(this.o,"gb_yd",window.scrollY>0)},this));this.v!=null&&_.J(this.j,7)&&(this.Z=new qi(this.v,a),this.Z.j("catc",this.fa,this),this.fa());this.G=null;if(this.U=_.U("gb_Wa",this.o))this.G=_.U("gb_Ic",this.U),this.Na.v(this.G,"error",this.Ab,!1,this)}Ab(){this.G!=null&&(this.G.src="https://www.gstatic.com/images/icons/material/system/1x/broken_image_grey600_18dp.png",this.G.srcset="https://www.gstatic.com/images/icons/material/system/1x/broken_image_grey600_18dp.png 1x, https://www.gstatic.com/images/icons/material/system/2x/broken_image_grey600_18dp.png 2x",
_.X(this.G,"width","auto"),_.Ue(this.G.parentElement,"gb_5a"))}H(){return this.o}jc(a){this.B=a;zi(this,this.L);a=Di(this);a!=0&&Ei(this,a)}kc(a,b){this.B&&Kh(this.B,a,b)}Ta(a){this.Ba(a||this.fc?1:0);_.V(this.H(),"gb_e")||this.ma(a?this.yb:this.vb);_.Y(this.H(),"gb_F",a);const b=_.U("gb_qd");b!=null&&_.Y(b,"gb_F",a);this.i&&this.Ib&&_.Y(this.i.i,"gb_Uc",a);this.U&&_.Y(this.U,"gb_F",a);_.Qd("dd").Ta(a)}Rc(a){this.V&&(_.Ke(this.Zb,a||""),_.Y(this.V,"gb_R",!a),this.N=!!a,ri(this,a),Ci(this,this.J.i))}nb(){return _.U("gb_5d",
this.C)}fa(){if(this.Z!=null){var a=this.Z.i;a==3?Ai(this,!1):a==1?Ai(this,!0):Ai(this,this.J.i=="gb_Wc")}}Bb(){Ci(this,this.J.i);this.i&&_.Fi(this,this.i.o(),!1);this.dispatchEvent("ffc")}Db(){_.Fi(this,!0,!0)}Cb(){_.Fi(this,!1,!0)}Eb(){var a=fi(this.i),b=this.i.i;a?_.U("gb_Qd").appendChild(b):this.o.appendChild(b)}F(a){let b=!1;switch(a){case "back":this.R=!0;ei(this.i);di(this.i,"back");b=!0;break;case "close":this.R=!0;ei(this.i);di(this.i,"close");b=!0;break;case "default":this.R=!1;this.Jb?
(this.i&&!this.i.isVisible("menu")&&(ei(this.i),di(this.i,"menu")),b=!0):(this.i&&this.i.isVisible("back")&&ei(this.i),this.i&&this.i.isVisible("menu")?(a=this.i,a.close(),_.Ue(a.H(),"gb_R"),!_.V(a.V,"gb_R")&&_.We(a.H(),"gb_Oc")):(a=_.U("gb_Kc",this.o))&&_.Ue(a,"gb_R"),b=!1);break;case "none":this.R=!0,ei(this.i),b=!1}this.A!=null&&_.Y(this.A,"gb_ud",b)}mb(){return this.o.offsetHeight}Lb(){this.K&&Bi(this)}ob(){if(!this.K){const c=_.De("DIV");_.Ve(c,["gb_a","gb_pd"]);Gi(c,Di(this));c.style.backgroundColor=
this.o.style.backgroundColor;this.W.push(c);var a=c,b=this.C;b.parentNode&&b.parentNode.insertBefore(a,b.nextSibling);this.K=c}return this.K}bc(){_.Fe(this.K);this.K=null;Bi(this)}Ba(a){a==2&&(a=0);for(let b=0;b<this.W.length;b++)Gi(this.W[b],a);Ei(this,a)}ma(a){this.o.style.backgroundColor=a}Xa(){return this.o.style.backgroundColor}wb(){var a=_.Qd("dd");_.th(a)&&_.th(a).R(!1);_.Mh(a,null)}hc(a){ti(this,a-8-10);xi(this)}Qc(a){_.Y(_.U("gb_Cc",this.C),"gb_R",!a)}Kc(){Nh(a=>{a&&a.Kc()})}ec(a){a&&(_.Ch(_.U("gb_qd"),
a),_.pd.i().j.then(b=>void b.Ed(a)))}};Hi=[{id:"gb_cc",max:599},{id:"gb_Fd",max:1023},{id:"gb_Wc"}];var Ii;_.W.prototype.za=_.Sb(function(a,b,c,d,e){return a.call(this,b,_.Sb(Ih,c),d,e)},_.W.prototype.listen);_.W.prototype.zb=_.W.prototype.Ng;var Ji=_.U("gb_Fa");
if(Ji==null)Ii=null;else{var Ki=_.E(_.qd,_.Ye,6)||new _.Ye,Li=new Z(Ji,Ki,_.ed,_.U("gb_Ed"));_.A("gbar.P",Z);Z.prototype.pa=Z.prototype.mb;Z.prototype.pb=Z.prototype.Rc;Z.prototype.pc=Z.prototype.Ba;Z.prototype.pd=Z.prototype.ma;Z.prototype.pe=Z.prototype.ob;Z.prototype.pf=Z.prototype.Lb;Z.prototype.pg=Z.prototype.bc;Z.prototype.ph=Z.prototype.nb;Z.prototype.pi=Z.prototype.wb;Z.prototype.pj=Z.prototype.hc;Z.prototype.pk=Z.prototype.Qc;Z.prototype.pl=Z.prototype.ec;Z.prototype.pm=Z.prototype.F;Z.prototype.pn=
Z.prototype.Xa;Z.prototype.po=Z.prototype.kc;Z.prototype.pp=Z.prototype.Ta;Z.prototype.pq=Z.prototype.Kc;_.pd.i().v.resolve(Li);Ii=Li}_.Mi=Ii;
}catch(e){_._DumpException(e)}
try{
_.Ni=function(a,b){return _.M(a,36,b)};
}catch(e){_._DumpException(e)}
try{
var Oi=document.querySelector(".gb_y .gb_A"),Pi=document.querySelector("#gb.gb_Sc");Oi&&!Pi&&_.Ld(_.vd,Oi,"click");
}catch(e){_._DumpException(e)}
try{
_.pd.i().v.then(function(a){if(a){var b=_.U("gb_Cc",a.C);b&&(b=new _.ih(b),a.jc(b))}});
}catch(e){_._DumpException(e)}
})(this.gbar_);
// Google Inc.

//# sourceURL=http://og/ab.js</script>
</div></div>
