<div class="w-full">
  <br />
  <article class="prose lg:prose-xl text-slate-500 dark:text-slate-400">
    <h2 class="text-slate-900 dark:text-white">Narendra Modi</h2>
    <i>(Naam to suna hi hoga) </i>
    <p>
     Narendra DamodarDas Modi is the 15th and current Prime Minister of India,
     Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister
     of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
    </p>
  </article>
  <br />
  <%= image_tag("icons/_VS2.svg",
  class: 'dark:text-white dark:text-slate-800
w-100 h-112 hover:cursor-pointer',
  data: { action: 'click->dark-mode#toggle'}) %>
  <br />
  <div>
    <h1 class="font-bold text-3xl text-blue-500">Public Hello world!</h1>
    <p>Find me in app/views/public/index.html.erb</p>
    <p data-controller="hello" data-action="click->hello#handleClick"></p>
  </div>
  <br />
  <div class="flex justify-between items-centerrow align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Promijenite pozadinu</font></font></h2>
        <p><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Zamijenite uslužni program za boju pozadine i dodajte uslužni program za boje `.text-*` kako biste pomiješali izgled jumbotrona. </font><font style="vertical-align: inherit;">Zatim pomiješajte i uskladite s temama dodatnih komponenti i još mnogo toga.</font></font></p>
        <button class="btn btn-outline-light" type="button">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Primer dugmeta</font>
          </font>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Dodajte granice</font>
        </font></h2>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
            Ili, neka bude lagana i dodajte obrub za neku dodatnu definiciju
            granicama vašeg sadržaja. </font>
          <font style="vertical-align: inherit;">Obavezno pogledajte izvorni HTML ovdje jer smo prilagodili poravnanje i veličinu sadržaja oba stupca za jednaku visinu.</font></font></p>
        <button class="btn btn-outline-secondary" type="button">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Primer dugmeta</font>
          </font>
        </button>
      </div>
    </div>
  </div>
  <hr />
  <figure class="ev ex ig ih ii ij er es paragraph-image">
    <div role="button" tabindex="0" class="ik il di im bf in">
      <div class="er es if">
        <picture>
          <source srcset="https://miro.medium.com/v2/resize:fit:640/format:webp/0*zJGl1vKLttcJGIL4.jpg 640w,
          https://miro.medium.com/v2/resize:fit:720/format:webp/0*zJGl1vKLttcJGIL4.jpg 720w,
          https://miro.medium.com/v2/resize:fit:750/format:webp/0*zJGl1vKLttcJGIL4.jpg 750w,
          https://miro.medium.com/v2/resize:fit:786/format:webp/0*zJGl1vKLttcJGIL4.jpg 786w,
          https://miro.medium.com/v2/resize:fit:828/format:webp/0*zJGl1vKLttcJGIL4.jpg 828w,
          https://miro.medium.com/v2/resize:fit:1100/format:webp/0*zJGl1vKLttcJGIL4.jpg 1100w,
          https://miro.medium.com/v2/resize:fit:1400/format:webp/0*zJGl1vKLttcJGIL4.jpg 1400w"
          sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                 (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                 (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                 (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                 (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                 (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                 (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                 (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px"
          type="image/webp">
          <source data-testid="og"
          srcset="https://miro.medium.com/v2/resize:fit:640/0*zJGl1vKLttcJGIL4.jpg 640w,
          https://miro.medium.com/v2/resize:fit:720/0*zJGl1vKLttcJGIL4.jpg 720w,
          https://miro.medium.com/v2/resize:fit:750/0*zJGl1vKLttcJGIL4.jpg 750w,
          https://miro.medium.com/v2/resize:fit:786/0*zJGl1vKLttcJGIL4.jpg 786w,
          https://miro.medium.com/v2/resize:fit:828/0*zJGl1vKLttcJGIL4.jpg 828w,
          https://miro.medium.com/v2/resize:fit:1100/0*zJGl1vKLttcJGIL4.jpg 1100w,
          https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg 1400w"
          sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                 (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                 (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                 (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                 (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                 (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                 (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                 (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px">
          <img alt="" class="bf io ip c"
                width="100%" height="auto" loading="eager"
                role="presentation"
                src="https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg">
        </picture>
      </div>
    </div>
    <figcaption class="iq ir et er es is it bd b be z dx" data-selectable-paragraph="">
      Generating SVGs from images can be used for placeholders.
      Keep reading!</figcaption>
  </figure>
  <br />
  <section class="py-5 text-center container">
    <div class="row 1py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Primjer albuma</h1>
        <p class="lead text-body-secondary">Nešto kratko i sugestivno o
          kolekciji u nastavku – njen sadržaj, kreator, itd.
          Neka bude kratka i slatka, ali ne prekratka kako je ljudi
          jednostavno ne bi preskočili u potpunosti.</p>
        <p>
          <a href="/arts" class="btn btn-primary my-2">Main call to action</a>
          <a href="/lists" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card 1shadow-sm">
            <figure class="kg-card kg-image-card">
              <img src="https://cdn-media-1.freecodecamp.org/images/RcbRK2L4F5SN-LcbaAo3YBqi6YyisWSElWD1"
              class="kg-image" alt="RcbRK2L4F5SN-LcbaAo3YBqi6YyisWSElWD1"
              width="100%" height="auto" loading="lazy"></figure>
            <div class="card-body">
              <figcaption class="iq ir et er es is it bd b be z dx" data-selectable-paragraph="">
                <p class="card-text">Generating SVGs from images can be used for placeholders.
                Keep reading!</p>
              </figcaption>
              <br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
            <filter id="b">
              <feGaussianBlur stdDeviation="12" />
            </filter>
              <path fill="#817c70" d="M0 0h2000v2000H0z"/>
              <g filter="url(#b)" transform="translate(4 4) scale(7.8125)"
              fill-opacity=".5">
                <ellipse fill="#000210" rx="1" ry="1" transform="matrix(50.41098 -3.7951 11.14787 148.07886 107 194.6)"/><ellipse fill="#eee3bb" rx="1" ry="1" transform="matrix(-56.38179 17.684 -24.48514 -78.06584 205 110.1)"/>
                <ellipse fill="#fff4bd" rx="1" ry="1"
                transform="matrix(35.40604 -5.49219 14.85017 95.73337 16.4 123.6)"/>
                <ellipse fill="#79c7db" cx="21" cy="39" rx="65" ry="65"/>
                <ellipse fill="#0c1320" cx="117" cy="38" rx="34" ry="47"/>
                <ellipse fill="#5cb0cd" rx="1" ry="1"
                transform="matrix(-39.46201 77.24476 -54.56092 -27.87353 219.2 7.9)"/>
                <path fill="#e57339" d="M271 159l-123–16 43 128z"/>
                <ellipse fill="#47332f" cx="214" cy="237" rx="242" ry="19"/>
              </g>
            </svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <figure class="kg-card kg-image-card kg-card-hascaption">
              <img src="https://cdn-media-1.freecodecamp.org/images/VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
              class="kg-image" alt="VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
              width="100%" height="230" loading="lazy">
            </figure>
            <div class="card-body">
              <figcaption>
                <p class="card-text">Processing <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square.jpg"
                rel="noopener" target="_blank" title="">this picture</a> using Primitive, using
                <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square-10.svg"
                rel="noopener" target="_blank" title="">10 shapes</a> and
                <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square-100.svg"
                rel="noopener" target="_blank" title="">100 shapes</a>.
                </p>
              </figcaption>
              <br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure class="kg-card kg-image-card">
            <filter id="b">
              <feGaussianBlur stdDeviation="12" />
            </filter>
            <img src="https://cdn-media-1.freecodecamp.org/images/wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
            class="kg-image" alt="wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
            width="100%" height="230" loading="lazy"></figure>
            <path fill="#817c70" d="M0 0h2000v2000H0z"/>
            <g filter="url(#b)" transform="translate(4 4) scale(7.8125)"
            fill-opacity=".5">
              <ellipse fill="#000210" rx="1" ry="1" transform="matrix(50.41098 -3.7951 11.14787 148.07886 107 194.6)"/><ellipse fill="#eee3bb" rx="1" ry="1" transform="matrix(-56.38179 17.684 -24.48514 -78.06584 205 110.1)"/>
              <ellipse fill="#fff4bd" rx="1" ry="1"
              transform="matrix(35.40604 -5.49219 14.85017 95.73337 16.4 123.6)"/>
              <ellipse fill="#79c7db" cx="21" cy="39" rx="65" ry="65"/>
              <ellipse fill="#0c1320" cx="117" cy="38" rx="34" ry="47"/>
              <ellipse fill="#5cb0cd" rx="1" ry="1"
              transform="matrix(-39.46201 77.24476 -54.56092 -27.87353 219.2 7.9)"/>
              <path fill="#e57339" d="M271 159l-123–16 43 128z"/>
              <ellipse fill="#47332f" cx="214" cy="237" rx="242" ry="19"/>
            </g>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <figure class="kg-card kg-image-card">
              <img src="https://cdn-media-1.freecodecamp.org/images/063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
              class="kg-image" alt="063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
              width="100%" height="auto" loading="lazy">
            </figure>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <figure class="kg-card kg-image-card kg-card-hascaption">
              <img src="https://cdn-media-1.freecodecamp.org/images/gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
              class="kg-image" alt="gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
              width="100%" height="auto" loading="lazy">
            </figure>
            <div class="card-body">
              <figcaption>
                <p class="card-text">Processing <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square.jpg" rel="noopener" target="_blank" title="">this picture</a> using Primitive, using <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-10.svg" rel="noopener" target="_blank" title="">10 shapes</a> and <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-100.svg" rel="noopener" target="_blank" title="">100 shapes</a>.
                </p>
              </figcaption>
              <br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <figure class="ev ex ig ih ii ij er es paragraph-image">
              <div role="button" tabindex="0" class="ik il di im bf in">
                <div class="er es if">
                  <picture>
                    <source srcset="https://miro.medium.com/v2/resize:fit:640/format:webp/0*zJGl1vKLttcJGIL4.jpg 640w,
                    https://miro.medium.com/v2/resize:fit:720/format:webp/0*zJGl1vKLttcJGIL4.jpg 720w,
                    https://miro.medium.com/v2/resize:fit:750/format:webp/0*zJGl1vKLttcJGIL4.jpg 750w,
                    https://miro.medium.com/v2/resize:fit:786/format:webp/0*zJGl1vKLttcJGIL4.jpg 786w,
                    https://miro.medium.com/v2/resize:fit:828/format:webp/0*zJGl1vKLttcJGIL4.jpg 828w,
                    https://miro.medium.com/v2/resize:fit:1100/format:webp/0*zJGl1vKLttcJGIL4.jpg 1100w,
                    https://miro.medium.com/v2/resize:fit:1400/format:webp/0*zJGl1vKLttcJGIL4.jpg 1400w"
                    sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                           (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                           (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                           (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                           (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                           (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                           (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                           (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px"
                    type="image/webp">
                    <source data-testid="og"
                    srcset="https://miro.medium.com/v2/resize:fit:640/0*zJGl1vKLttcJGIL4.jpg 640w,
                    https://miro.medium.com/v2/resize:fit:720/0*zJGl1vKLttcJGIL4.jpg 720w,
                    https://miro.medium.com/v2/resize:fit:750/0*zJGl1vKLttcJGIL4.jpg 750w,
                    https://miro.medium.com/v2/resize:fit:786/0*zJGl1vKLttcJGIL4.jpg 786w,
                    https://miro.medium.com/v2/resize:fit:828/0*zJGl1vKLttcJGIL4.jpg 828w,
                    https://miro.medium.com/v2/resize:fit:1100/0*zJGl1vKLttcJGIL4.jpg 1100w,
                    https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg 1400w"
                    sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                           (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                           (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                           (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                           (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                           (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                           (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                           (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px">
                    <img alt="" class="bf io ip c"
                      width="100%" height="auto" loading="eager"
                      role="presentation"
                      src="https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg">
                  </picture>
                </div>
              </div>
            </figure>
            <div class="card-body">
              <figcaption class="iq ir et er es is it bd b be z dx" data-selectable-paragraph="">
                <p class="card-text">Generating SVGs from images can be used for placeholders.
                Keep reading!</p>
              </figcaption>
              <br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <figure class="kg-card kg-image-card kg-card-hascaption">
              <img src="https://cdn-media-1.freecodecamp.org/images/gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
              class="kg-image" alt="gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
              width="100%" height="auto" loading="lazy">
            </figure>
            <div class="card-body">
              <figcaption>
                <p class="card-text">Processing <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square.jpg" rel="noopener" target="_blank" title="">this picture</a> using Primitive, using <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-10.svg" rel="noopener" target="_blank" title="">10 shapes</a> and <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-100.svg" rel="noopener" target="_blank" title="">100 shapes</a>.
                </p>
              </figcaption>
              <br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <figure class="kg-card kg-image-card kg-card-hascaption">
              <img src="https://cdn-media-1.freecodecamp.org/images/VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
              class="kg-image" alt="VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
              width="100%" height="auto" loading="lazy">
            </figure>
            <div class="card-body">
              <figcaption>
                <p class="card-text">Processing <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square.jpg"
                rel="noopener" target="_blank" title="">this picture</a> using Primitive, using
                <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square-10.svg"
                rel="noopener" target="_blank" title="">10 shapes</a> and
                <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square-100.svg"
                rel="noopener" target="_blank" title="">100 shapes</a>.
                </p>
              </figcaption>
              <br />
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <figure class="ev ex ig ih ii ij er es paragraph-image">
          <div role="button" tabindex="0" class="ik il di im bf in">
            <div class="er es if">
              <picture>
                <source srcset="https://miro.medium.com/v2/resize:fit:640/format:webp/0*zJGl1vKLttcJGIL4.jpg 640w,
                https://miro.medium.com/v2/resize:fit:720/format:webp/0*zJGl1vKLttcJGIL4.jpg 720w,
                https://miro.medium.com/v2/resize:fit:750/format:webp/0*zJGl1vKLttcJGIL4.jpg 750w,
                https://miro.medium.com/v2/resize:fit:786/format:webp/0*zJGl1vKLttcJGIL4.jpg 786w,
                https://miro.medium.com/v2/resize:fit:828/format:webp/0*zJGl1vKLttcJGIL4.jpg 828w,
                https://miro.medium.com/v2/resize:fit:1100/format:webp/0*zJGl1vKLttcJGIL4.jpg 1100w,
                https://miro.medium.com/v2/resize:fit:1400/format:webp/0*zJGl1vKLttcJGIL4.jpg 1400w"
                sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                       (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                       (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                       (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                       (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                       (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                       (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                       (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px"
                type="image/webp">
                <source data-testid="og"
                srcset="https://miro.medium.com/v2/resize:fit:640/0*zJGl1vKLttcJGIL4.jpg 640w,
                https://miro.medium.com/v2/resize:fit:720/0*zJGl1vKLttcJGIL4.jpg 720w,
                https://miro.medium.com/v2/resize:fit:750/0*zJGl1vKLttcJGIL4.jpg 750w,
                https://miro.medium.com/v2/resize:fit:786/0*zJGl1vKLttcJGIL4.jpg 786w,
                https://miro.medium.com/v2/resize:fit:828/0*zJGl1vKLttcJGIL4.jpg 828w,
                https://miro.medium.com/v2/resize:fit:1100/0*zJGl1vKLttcJGIL4.jpg 1100w,
                https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg 1400w"
                sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                       (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                       (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                       (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                       (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                       (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                       (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                       (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px">
                <img alt="" class="bf io ip c"
                  width="100%" height="auto" loading="eager"
                  role="presentation"
                  src="https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg">
              </picture>
            </div>
          </div>
        </figure>
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary"
              href="/users/sign_up">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <figure class="kg-card kg-image-card kg-card-hascaption">
          <img src="https://cdn-media-1.freecodecamp.org/images/VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
          class="kg-image" alt="VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
          width="49%" height="auto" loading="lazy">
          <img src="https://cdn-media-1.freecodecamp.org/images/gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
          class="kg-image" alt="gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
          width="49%" height="auto" loading="lazy">
        </figure>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary"
              href="/arts">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <figure class="kg-card kg-image-card">
          <img src="https://cdn-media-1.freecodecamp.org/images/0BUVCyRTKGT60ZzgpQi5lFlrYkZa5Rcaivjv"
          class="kg-image" alt="0BUVCyRTKGT60ZzgpQi5lFlrYkZa5Rcaivjv"
          width="49%" height="auto" loading="lazy">
          <img src="https://cdn-media-1.freecodecamp.org/images/063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
          class="kg-image" alt="063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
          width="49%" height="auto" loading="lazy">
        </figure>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary"
              href="/lists">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
            <filter id="b"><feGaussianBlur stdDeviation="12" /></filter>
            <path fill="#817c70" d="M0 0h2000v2000H0z"/>
            <g filter="url(#b)" transform="translate(4 4) scale(7.8125)"
              fill-opacity=".5">
              <ellipse fill="#000210" rx="1" ry="1" transform="matrix(50.41098 -3.7951 11.14787 148.07886 107 194.6)"/><ellipse fill="#eee3bb" rx="1" ry="1" transform="matrix(-56.38179 17.684 -24.48514 -78.06584 205 110.1)"/>
              <ellipse fill="#fff4bd" rx="1" ry="1"
                transform="matrix(35.40604 -5.49219 14.85017 95.73337 16.4 123.6)"/>
              <ellipse fill="#79c7db" cx="21" cy="39" rx="65" ry="65"/>
              <ellipse fill="#0c1320" cx="117" cy="38" rx="34" ry="47"/>
              <ellipse fill="#5cb0cd" rx="1" ry="1"
                transform="matrix(-39.46201 77.24476 -54.56092 -27.87353 219.2 7.9)"/>
              <path fill="#e57339" d="M271 159l-123–16 43 128z"/>
              <ellipse fill="#47332f" cx="214" cy="237" rx="242" ry="19"/>
            </g>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <figure class="ev ex ig ih ii ij er es paragraph-image">
            <div role="button" tabindex="0" class="ik il di im bf in">
              <div class="er es if">
                <picture>
                  <source srcset="https://miro.medium.com/v2/resize:fit:640/format:webp/0*zJGl1vKLttcJGIL4.jpg 640w,
                  https://miro.medium.com/v2/resize:fit:720/format:webp/0*zJGl1vKLttcJGIL4.jpg 720w,
                  https://miro.medium.com/v2/resize:fit:750/format:webp/0*zJGl1vKLttcJGIL4.jpg 750w,
                  https://miro.medium.com/v2/resize:fit:786/format:webp/0*zJGl1vKLttcJGIL4.jpg 786w,
                  https://miro.medium.com/v2/resize:fit:828/format:webp/0*zJGl1vKLttcJGIL4.jpg 828w,
                  https://miro.medium.com/v2/resize:fit:1100/format:webp/0*zJGl1vKLttcJGIL4.jpg 1100w,
                  https://miro.medium.com/v2/resize:fit:1400/format:webp/0*zJGl1vKLttcJGIL4.jpg 1400w"
                  sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                         (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                         (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                         (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                         (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                         (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                         (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                         (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px"
                  type="image/webp">
                  <source data-testid="og"
                  srcset="https://miro.medium.com/v2/resize:fit:640/0*zJGl1vKLttcJGIL4.jpg 640w,
                  https://miro.medium.com/v2/resize:fit:720/0*zJGl1vKLttcJGIL4.jpg 720w,
                  https://miro.medium.com/v2/resize:fit:750/0*zJGl1vKLttcJGIL4.jpg 750w,
                  https://miro.medium.com/v2/resize:fit:786/0*zJGl1vKLttcJGIL4.jpg 786w,
                  https://miro.medium.com/v2/resize:fit:828/0*zJGl1vKLttcJGIL4.jpg 828w,
                  https://miro.medium.com/v2/resize:fit:1100/0*zJGl1vKLttcJGIL4.jpg 1100w,
                  https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg 1400w"
                  sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                         (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                         (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                         (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                         (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                         (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                         (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                         (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px">
                  <img alt="" class="bf io ip c"
                    width="100%" height="auto" loading="eager"
                    role="presentation"
                    src="https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg">
                </picture>
              </div>
            </div>
            <br />
            <figcaption class="iq ir et er es is it bd b be z dx" data-selectable-paragraph="">
              Generating SVGs from images can be used for placeholders.
              Keep reading!</figcaption>
          </figure>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
          <p class="1lead">And yes, this is the last block of representative placeholder content.
            Again, not really intended to be actually read,
            simply here to give you a better view of what
            this would look like with some actual content.
            <br/>
            <img src="https://cdn-media-1.freecodecamp.org/images/0BUVCyRTKGT60ZzgpQi5lFlrYkZa5Rcaivjv"
              class="kg-image" alt="0BUVCyRTKGT60ZzgpQi5lFlrYkZa5Rcaivjv"
              width="24%" height="auto" loading="lazy" style="margin: 10px">
            <img src="https://cdn-media-1.freecodecamp.org/images/063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
              class="kg-image" alt="063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
              width="24%" height="auto" loading="lazy" style="margin: 10px">
          </p>
        </div>
      </div>
      <br class="featurette-divider">
  </div>
</div>
