<div class="w-full">
  <br />
  <article class="prose lg:prose-xl text-slate-500 dark:text-slate-400">
    <h2 class="text-3xl text-orange-500
    1dark:text-white
    1dark:text-slate-500">
      Svjetlosna energija</h2>
    <div data-controller="dark-mode">
      <%= image_tag("_create-a.png",
      data: { action: 'click->dark-mode#toggle'}) %>
    </div>
    <h3 class="1prose lg:prose-xl dark:text-white dark:text-slate-500">
      Svjetlosna energija ili svjetlosna energija odnosi
      se na energiju koja se prenosi kroz svjetlosne talase.
    </h3>
    <p>
    Svjetlo se sastoji od svjetlosnih talasa, vrste elektromagnetskih
    talasa koje emitiraju vrući objekti poput sijalica ili poput sunca.
    Zauzvrat, ovi talasi su formirani od fotona, koji su mali paketi energije.
    </p>
    <p>
    Kada se atomi koji sačinjavaju objekt zagriju, njihovi elektroni
    su uzbuđeni i kao rezultat proizvode dodatnu energiju.
    </p>
    <p>
    Ta se energija oslobađa u obliku fotona. Zahvaljujući ovom fenomenu,
    kada se objekt zagrije, stvaraju se fotoni, koji će se povećavati
    kako se objekt zagrijava.
    </p>
    <p>
    Svjetlosni talisi su materijalni objekt koji se kreće brže: brzina
    svjetlosti je oko 300.000 kilometara u sekundi u vakuumu.
    </p>
    <p>
      Možda ste zainteresirani za 10 najistaknutijih
      svjetlosnih karakteristika.
    </p>
    <h3 class="1prose lg:prose-xl dark:text-white dark:text-slate-500">
      Svojstva svjetlosne energije</h3>
    <h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">Refrakcija</h4>
    <p>
    Refrakcija se odnosi na promjenu u kretanju svjetla
    kada se medij u kojem se kreće pomiče.
    Svjetlosna energija može se kretati različitim sredstvima kao što su zrak,
    voda i čak vakuum, mijenjajući brzinu u svakom od tih medija.
    To se svojstvo može promatrati kroz ljudsko oko i objašnjava mnoge
    svakodnevne pojave, kao što je titranje zvijezda.
    U svemiru, svjetlost putuje u vakuumu, pa kad uđe u Zemljinu atmosferu
    mijenja medij. U toj promjeni, svjetlosni talasi mijenjaju brzinu i
    prolaze kroz refrakciju, zbog čega se promatra treperenje sa Zemlje.
    </p>
    <h4 class="prose lg:prose-xl  dark:text-white dark:text-slate-500">
    Odraz
    </h4>
    <p>
    Refleksija se odnosi na promjenu smjera svjetlosnih talasa
    kada se sudaraju s objektom i odbijaju. Ovo svojstvo je vrlo važno,
    jer zahvaljujući refleksiji svjetlosti moguće je promatrati
    one objekte koji nemaju vlastitu svjetlost.
    </p>
    <p>
    To se svojstvo može provjeriti svakodnevno, primjerice,
    isključivanjem sijalice u sobi. Svi objekti više nisu vidljivi
    jer svjetlo prestaje odražavati na njima.
    </p>
    <h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">
    Difrakcija
    </h4>
    <p>
    Difrakcija se odnosi na promjenu smjera svjetlosnih talasa
    kada naiđu na prepreku ili kada prolaze kroz prorez.
    Oni se također javljaju u zvučnim talasima ili tekućinama.
    </p>
    <p>
    Ovo svojstvo se primjenjuje u radu objektiva fotoaparata.
    Svjetlosni talasi ulaze kroz malu rupu,
    a svojstvo difrakcije uzrokuje da se rasprše unutar komore.
    </p>
    <h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">
    Smetnje
    </h4>
    <p>
    Do smetnji dolazi kada se dva ili više talasa podudaraju
    i njihovi učinci se zbrajaju. Ovi učinci mogu biti konstruktivni
    ili destruktivni u odnosu na tačku talasa tamo gdje su.
    </p>
    <p>
    Konstruktivna interferencija nastaje kada se svjetlosni
    talasi nalaze na mjestima gdje se dva vrha podudaraju,
    stoga se frekvencije talasa sabiraju...
    </p>
    <p>
    S druge strane, destruktivna interferencija nastaje
    kada se dolina podudara s grbom. U tom slučaju
    amplitude se oduzimaju i mogu potpuno nestati.
    </p>
    <h3 class="1prose lg:prose-xl dark:text-white dark:text-slate-500">
      Važnost svjetlosne energije
    </h3>
    <p>
    Svjetlosna energija ima temeljnu ulogu u razvoju različitih
    prirodnih i umjetnih procesa koji se koriste u različitim područjima.
    </p>
    <h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">Fotosinteza</h4>
    <p>
    Fotosinteza je jedna od najvažnijih funkcija koju u prirodi ispunjava
    svjetlosna energija. U tom procesu, biljke pretvaraju energiju
    Sunca u hranu za biljke i zauzvrat proizvode kisik koji daje
    život drugim živim bićima.
    </p>
    <p>
    S druge strane, svjetlost je važan izvor vitamina za ljude.
    Zahvaljujući svjetlosnoj energiji nastaje fotobiogeneza,
    proces u kojem se stvara vitamin D, potreban za razvoj kostiju ljudi...
    </p>
    <h3 class="1prose lg:prose-xl dark:text-white dark:text-slate-500">Vizija</h3>
    <p>
    Živi organizmi mogu vidjeti predmete oko njih zahvaljujući svojim očima,
    ali oči rade zahvaljujući svjetlu. Svjetlosni talasi stimuliraju oči
    tako da percipiraju slike kada svjetlost padne na nju i
    informacije se šalju u mozak.
    </p>
    <p>
    Stoga je svjetlosna energija temeljna
    u viziji ljudskog bića i svih živih životinja.
    </p>
    <h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">Boje</h4>
    <p>
    Boje koje se opažaju očima također su moguće
    zahvaljujući svjetlosnoj energiji. Svjetlo se sastoji od različitih
    spektara i svaka od njih se može promatrati kroz drugu boju.
    </p>
    <p>
    Mješavina svih boja spektra proizvodi bijelu svjetlost i zauzvrat se
    bijela svjetlost dijeli na sve boje spektra kroz fenomen disperzije...
    </p>
    <p>
    To je fenomen koji se svakodnevno može promatrati u dugi.
    To se događa kada se bijela svjetlost rasprši kroz male
    kapljice vode prisutne u zraku nakon kiše.
    </p>
    <h3 class="1prose lg:prose-xl dark:text-white dark:text-slate-500">
    Elektromagnetski spektar
    </h3>
    <p>
    Postoje različite vrste elektromagnetskog zračenja,
    a svjetlost je samo jedna od njih. Osim svjetlosnih talasa,
    elektromagnetski spektar čine radio i televizijski talasi.
    </p>
    <p>
    S druge strane, postoje različite vrste svjetlosnih talasa.
    Svaki talas ima različitu dužinu i to određuje njegove karakteristike.
    </p>
    <p>
    Što je duža talasna dužina, to je manja količina
    svjetlosne energije koju nosi.
    Naprotiv, kada su talasi kratki i čvrsti,
    nose veću količinu energije.
    </p>
    <p>
    Najkraći talasi poznati su kao gama zrake,
    nakon čega slijedi rendgenske i ultraljubičaste zrake.
    To su one koje nose više energije, stoga,
    iako ih ljudsko oko ne može uhvatiti, mogu proći kroz kožu.
    </p>
    <p>
    To podrazumijeva veliku opasnost za ljudsko zdravlje.
    Kada te zrake prođu kroz kožu, one mogu utjecati na DNK stanica,
    s negativnim učincima na tijelo.
    </p>
    <p>
    Najduži svjetlosni talasi su infracrvene zrake.
    To su one koje prenose manje količine svjetlosne
    energije i nisu vidljive ni ljudskom oku.
    </p>
    <p>
    Između ultraljubičastih zraka i infracrvenih zraka,
    postoji niz talasa srednje dužine koji su jedini
    koji mogu biti opaženi ljudskim okom.
    Ti su talasi poznati kao "vidljivo svjetlo".
    </p>
    <h4 class="prose lg:prose-xl dark:text-white dark:text-slate-500">
      Reference</h4>
    <ul>
      <li>Bezgranična. (S.F.). Uvod u svjetlosnu energiju.
        Oporavio se od boundless.com.
      </li>
      <li>Byjus. (2016). Svjetlosna energija. Preuzeto s byjus.com.</li>
      <li>Nova svjetska enciklopedija. (S.F.). Svjetlo.
        Preuzeto s newworldencyclopedia.org.</li>
      <li>Stark, G. (2017). Svjetlo. Encyclopaedia Britannica.
        Oporavio se od britannica.com.</li>
      <li>Što je svjetlosna energija (S.F.). Svjetlosna energija.
        Preuzeto s stranice whatislightenergy.com.</li>
    </ul>
  </article>
  <br />
</div>
