<div class="c-contact-us-form-wrappe js-active-form active" data-form="Mobilna">     <div class="container">
<section class="section c-contact-form-section c-banner" data-max-size-attachment="0">
	<form autocomplete="off" id="4b16342e-7146-49c9-8f69-76575dd03336" class="contact-form js-contact-form-wrapper" data-subject="Pitanje sa sajta, Mobilna / {{Pitanje se odnosi na}}" novalidate="novalidate" data-di-form-track="">
		<div class="form-group input-wrapper">
			<label for="Pitanje se odnosi na:" class="floating-label">Pitanje se odnosi na:
				<span>*</span>
			</label>
			<div class="dropdown bootstrap-select form-control"><select id="questionRegardsTo" name="Pitanje se odnosi na" class="selectpicker form-control" title="" for="Pitanje se odnosi na:" required="" tabindex="null">
				<option value="">Izaberite</option>
				<option value="Postpejd">Postpejd</option>
				<option value="Pripejd">Pripejd</option>
				<option value="Roming">Roming</option>
				<option value="Mobilni internet">Mobilni internet</option>
				<option value="mts TV GO">mts TV GO</option>
				<option value="Klik SPORT">Klik SPORT</option>
				<option value="Kupovina uređaja (telefon, modem, tablet)">Kupovina uređaja (telefon, modem, tablet)</option>
				<option value="Prenos broja u mts mrežu">Prenos broja u mts mrežu</option>
				<option value="Promocije - pitanja">Promocije - pitanja</option>
				<option value="Net limit">Net limit</option>
				<option value="Kvalitet mreže">Kvalitet mreže</option>
				<option value="Pitanje u vezi sa računom">Pitanje u vezi sa računom</option>
				<option value="Dokaz o uplati mts računa">Dokaz o uplati mts računa</option>
				<option value="Prigovor/žalba">Prigovor/žalba</option>
				<option value="Krađa telefona/kartice">Krađa telefona/kartice</option>
				<option value="Promena tarifnog profila">Promena tarifnog profila</option>
				<option value="Produženje/obnova ugovora">Produženje/obnova ugovora</option>
				<option value="Promena u nazivu korisnika">Promena u nazivu korisnika</option>
				<option value="Promena adrese dostave računa">Promena adrese dostave računa</option>
				<option value="Otključavanje telefona">Otključavanje telefona</option>
				<option value="PIN/PUK">PIN/PUK</option>
				<option value="Servisiranje telefona">Servisiranje telefona</option>
				<option value="Uznemiravanje">Uznemiravanje</option>
				<option value="Šifra korisnika – kako je saznati?">Šifra korisnika – kako je saznati?</option>
				<option value="Korisničko ime – kako ga saznati?">Korisničko ime – kako ga saznati?</option>
			</select>
      <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" data-id="questionRegardsTo" title="Izaberite"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Izaberite</div></div> </div></button><div class="dropdown-menu" style="max-height: 658.836px; overflow: hidden; min-height: 106px;"><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1" style="max-height: 646.836px; overflow-y: auto; min-height: 94px;" aria-activedescendant="bs-select-2-2">
        <ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;">
          <li class="selected">
            <a role="option" class="dropdown-item selected" id="bs-select-2-0" tabindex="0" aria-setsize="26" aria-posinset="1" aria-selected="true" data-di-id="#bs-select-2-0">
              <span class="text">Izaberite</span>
            </a>
          </li>
          <li class="">
            <a role="option" class="dropdown-item" id="bs-select-2-1" tabindex="0" data-di-id="#bs-select-2-1" aria-setsize="26" aria-posinset="2"><span class="text">Postpejd</span></a></li><li class="active"><a role="option" class="dropdown-item active" id="bs-select-2-2" tabindex="0" data-di-id="#bs-select-2-2" aria-setsize="26" aria-posinset="3"><span class="text">Pripejd</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-3" tabindex="0" data-di-id="#bs-select-2-3"><span class="text">Roming</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-4" tabindex="0" data-di-id="#bs-select-2-4"><span class="text">Mobilni internet</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-5" tabindex="0" data-di-id="#bs-select-2-5"><span class="text">mts TV GO</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-6" tabindex="0" data-di-id="#bs-select-2-6"><span class="text">Klik SPORT</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-7" tabindex="0" data-di-id="#bs-select-2-7"><span class="text">Kupovina uređaja (telefon, modem, tablet)</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-8" tabindex="0" data-di-id="#bs-select-2-8"><span class="text">Prenos broja u mts mrežu</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-9" tabindex="0" data-di-id="#bs-select-2-9"><span class="text">Promocije - pitanja</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-10" tabindex="0" data-di-id="#bs-select-2-10"><span class="text">Net limit</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-11" tabindex="0" data-di-id="#bs-select-2-11"><span class="text">Kvalitet mreže</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-12" tabindex="0" data-di-id="#bs-select-2-12"><span class="text">Pitanje u vezi sa računom</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-13" tabindex="0" data-di-id="#bs-select-2-13"><span class="text">Dokaz o uplati mts računa</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-14" tabindex="0" data-di-id="#bs-select-2-14"><span class="text">Prigovor/žalba</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-15" tabindex="0" data-di-id="#bs-select-2-15"><span class="text">Krađa telefona/kartice</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-16" tabindex="0" data-di-id="#bs-select-2-16"><span class="text">Promena tarifnog profila</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-17" tabindex="0" data-di-id="#bs-select-2-17"><span class="text">Produženje/obnova ugovora</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-18" tabindex="0" data-di-id="#bs-select-2-18"><span class="text">Promena u nazivu korisnika</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-19" tabindex="0" data-di-id="#bs-select-2-19"><span class="text">Promena adrese dostave računa</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-20" tabindex="0" data-di-id="#bs-select-2-20"><span class="text">Otključavanje telefona</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-21" tabindex="0" data-di-id="#bs-select-2-21"><span class="text">PIN/PUK</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-22" tabindex="0" data-di-id="#bs-select-2-22"><span class="text">Servisiranje telefona</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-23" tabindex="0" data-di-id="#bs-select-2-23"><span class="text">Uznemiravanje</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-24" tabindex="0" data-di-id="#bs-select-2-24"><span class="text">Šifra korisnika – kako je saznati?</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-25" tabindex="0" data-di-id="#bs-select-2-25"><span class="text">Korisničko ime – kako ga saznati?</span></a></li></ul></div></div></div>
		</div>
		<div class="form-fields clearfix">
			<div class="row">
				<div class="form-group col-sm-6 input-wrapper js-input-wrapper">
					<label for="userName-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">Ime i Prezime <span>*</span></label>
					<input id="userName-4b16342e-7146-49c9-8f69-76575dd03336" type="text" class="form-input background-color-white js-form-input js-text-only-input" name="Ime i Prezime" validate="true" maxlength="101" required="" data-di-id="#userName-4b16342e-7146-49c9-8f69-76575dd03336">
				</div>
				<div class="form-group col-sm-6 input-wrapper js-input-wrapper">
					<label for="phoneNumInQuestion-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">Unesite broj telefona na koji se odnosi vaše pitanje *</label>
					<span class="form-tooltip">
            <span class="tooltip-icon tooltipstered">i</span>
          </span>
					<input id="phoneNumInQuestion-4b16342e-7146-49c9-8f69-76575dd03336" type="text" class="form-input background-color-white js-form-input" name="Broj telefona na koji se odnosi pitanje" validate="true" maxlength="101" required="" data-di-id="#phoneNumInQuestion-4b16342e-7146-49c9-8f69-76575dd03336">
				</div>
				<div class="form-group col-sm-6 input-wrapper js-input-wrapper">
					<label for="usernameEl-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">Korisničko ime</label>
					<input id="usernameEl-4b16342e-7146-49c9-8f69-76575dd03336" type="text" class="form-input background-color-white js-form-input" name="Korisničko ime" validate="true" maxlength="101" data-di-id="#usernameEl-4b16342e-7146-49c9-8f69-76575dd03336">
				</div>
				<div class="form-group col-sm-6 input-wrapper js-input-wrapper">
					<label for="userId-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">Šifra korisnika</label>
					<input id="userId-4b16342e-7146-49c9-8f69-76575dd03336" type="text" class="form-input background-color-white js-form-input" name="Šifra korisnika" validate="true" maxlength="101" data-di-id="#userId-4b16342e-7146-49c9-8f69-76575dd03336">
				</div>
				<div class="form-group col-sm-6 input-wrapper js-input-wrapper">
					<label for="contactPhone-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">Kontakt telefon *</label>
					<span class="form-tooltip">
            <span class="tooltip-icon tooltipstered">i</span>
          </span>
					<input id="contactPhone-4b16342e-7146-49c9-8f69-76575dd03336" type="text" class="form-input background-color-white js-form-input" name="Kontakt telefon" validate="true" maxlength="101" required="" data-di-id="#contactPhone-4b16342e-7146-49c9-8f69-76575dd03336">
				</div>
				<div class="form-group col-sm-6 input-wrapper js-input-wrapper">
					<label for="email-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">E-mail adresa <span>*</span></label>
					<input id="email-4b16342e-7146-49c9-8f69-76575dd03336" type="email" class="form-input background-color-white js-form-input" name="E-mail adresa" validate="true" maxlength="500" required="" data-di-id="#email-4b16342e-7146-49c9-8f69-76575dd03336">
				</div>
			</div>
			<div class="bottom-group">
				<div class="form-group input-wrapper js-input-wrapper">
					<label for="contactMessage-4b16342e-7146-49c9-8f69-76575dd03336" class="floating-label">Vaše pitanje (maks. 1000 karaktera) <span>*</span></label>
					<textarea id="contactMessage-4b16342e-7146-49c9-8f69-76575dd03336" class="form-input background-color-white js-form-input" name="Pitanje" validate="true" maxlength="1000" required=""></textarea>
				</div>
				<div class="form-group input-wrapper js-input-wrapper input-wrapper-file-upload">
					<label class="add-doc js-add-doc" for="doc-upload-4b16342e-7146-49c9-8f69-76575dd03336">
						<input id="doc-upload-4b16342e-7146-49c9-8f69-76575dd03336" type="file" name="doc-upload-4b16342e-7146-49c9-8f69-76575dd03336" class="js-file-upload-form file-upload-input" hidden="" data-di-id="#doc-upload-4b16342e-7146-49c9-8f69-76575dd03336">
						<p class="doc-text"><span class="icon icon-cv"></span>Dodajte dokument</p>
					</label>
				</div>
					<p class="upload-file-desc">Dokument može biti veličine do 5 MB. Tipovi dokumenta: doc, docx, pdf, jpg, jpeg i png.</p>
					<div class="form-group form-checkbox input-wrapper js-input-wrapper">
					<div class="checkbox default">
						<input type="checkbox" id="privacy-4b16342e-7146-49c9-8f69-76575dd03336" name="privacy-4b16342e-7146-49c9-8f69-76575dd03336" validate="true" required="" data-di-id="#privacy-4b16342e-7146-49c9-8f69-76575dd03336">
						<label for="privacy-4b16342e-7146-49c9-8f69-76575dd03336">
							U svrhu pružanja informacija i podrške u vezi sa uslugama koje koristite, u nastavku komunikacije od Vas može biti zatraženo da navedete pretplatnički broj, ID korisnika ili broj ugovora. Ove informacije će biti obrađivane u skladu sa <a href="https://mts.rs/Binary/1182/Politika-zastite-privatnosti-TS.pdf" target="_blank" data-di-id="di-id-5ad22093-2ed590da">Politikom privatnosti.</a>
						</label>
					</div>
				</div>
			</div>
		</div>
  <script>
		function onReCaptchaSuccess () {
        $('.js-contact-form-wrapper .g-recaptcha:visible').each(function () {
          if (window.innerWidth < 1024) {
            var destElementOffset = $(this).offset().top - window.innerHeight / 2;
            $('html, body').animate({ scrollTop: destElementOffset }, 0);
          }
          $(this).closest('.js-contact-form-wrapper').find('.js-css-google-captcha-msg').hide();
        });
      }
  </script>
<div class="g-recaptcha scale-google-recaptcha-for-mobile" data-sitekey="6LdMrEsUAAAAAHOAO1XoGOB8YIoCmVtgLFhzS0QF" data-callback="onReCaptchaSuccess">
  <div style="width: 304px; height: 78px;">
    <div>
      <iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-euyraitebqkr" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdMrEsUAAAAAHOAO1XoGOB8YIoCmVtgLFhzS0QF&amp;co=aHR0cHM6Ly9tdHMucnM6NDQz&amp;hl=sr&amp;v=xds0rzGrktR88uEZ2JUvdgOY&amp;size=normal&amp;cb=vse4zxh4p6u1"
      data-gtm-yt-inspected-9="true"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
		<span class="js-css-google-captcha-msg js-recaptcha-error" style="display: none;">Ovo je obavezno polje</span>
		<div class="submit-wrapper">
			<button type="submit" class="js-submit-btn btn theme-btn" data-languageid="1" data-outputid="1" data-page-element="Mobilna_">
				<div class="vertical-center">
					<span class="submit-now-text">Pošalji</span>
					<span class="icon-cta-arrow arrow-icon"></span>
				</div>
			</button>
			<a class="btn simple-link-btn js-cancel btn-refresh-form">Odustanite</a>
		</div>
		<div class="after-submit js-after-submit">
			<div class="submit-circle">
				<span class="icon-poruka-neuspesna fail-icon"></span>
				<span class="icon-poruka-uspesno-poslata success-icon"></span>
			</div>
			<p class="text success-text">Poruka je uspešno poslata. Hvala što ste nas kontaktirali.</p>
			<p class="text fail-text">Poruka nije poslata. Pokušajte ponovo.</p>
		</div>
    <div class="required-fields">
			<p class="submit-message"></p>
		</div>
		<input name="ContactFormId" style="display:none;" value="4b16342e-7146-49c9-8f69-76575dd03336" data-di-id="di-id-ec2accd1-784305e6">
	</form>
</section>
</div></div>
