<div class="form b b-s b-form-default f-rh-normal f-rg-normal f-br-none default cf" id="wnd_FormBlock_389606346" data-wnd_mvc_type="wnd.pc.FormBlock">
	<form action="" method="post" novalidate="">
		<fieldset class="form-fieldset" id="wnd_FormFieldsetBlock_523124708" data-wnd_mvc_type="wnd.pc.FormFieldsetBlock">
			<div id="wnd_FormFieldsetBlock_523124708_container"><div class="form-input form-text cf wnd-form-field wnd-required" id="wnd_ShortTextField_62578429" data-wnd_mvc_type="wnd.pc.ShortTextField" data-wnd_ref_object="4">
	<label for="field-wnd_ShortTextField_62578429"><span class="it b link" id="wnd_InlineTextBlock_822677416" data-wnd_mvc_type="wnd.pc.InlineTextBlock">
	<span class="it-c wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_InlineTextBlock_822677416_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje..."><span>Srđan Vidović</span></span>
</span></label>
	<input id="field-wnd_ShortTextField_62578429" name="wnd_ShortTextField_62578429" required="" disabled="" value="" type="text">
</div><div class="form-input form-email cf wnd-form-field wnd-required" id="wnd_EmailField_917177683" data-wnd_mvc_type="wnd.pc.EmailField" data-wnd_ref_object="5">
	<label for="field-wnd_EmailField_917177683"><span class="it b link" id="wnd_InlineTextBlock_122308094" data-wnd_mvc_type="wnd.pc.InlineTextBlock">
	<span class="it-c wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_InlineTextBlock_122308094_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">vidosrd@gmail.com</span>
</span></label>
	<input id="field-wnd_EmailField_917177683" name="wnd_EmailField_917177683" required="" disabled="" value="@" type="text">
</div><div class="form-input form-textarea cf wnd-form-field wnd-required" id="wnd_LongTextField_665527920" data-wnd_mvc_type="wnd.pc.LongTextField" data-wnd_ref_object="6">
	<label for="field-wnd_LongTextField_665527920"><span class="it b link" id="wnd_InlineTextBlock_249369270" data-wnd_mvc_type="wnd.pc.InlineTextBlock">
	<span class="it-c wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_InlineTextBlock_249369270_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">Grunge, Alternative, Hard</span>
</span></label>
	<textarea rows="5" id="field-wnd_LongTextField_665527920" name="wnd_LongTextField_665527920" required="" disabled=""></textarea>
</div></div>
		</fieldset>
		<div class="form-submit b-btn cf b-btn-fs b-btn-3" id="wnd_FormSubmitBlock_405407566" data-wnd_mvc_type="wnd.pc.FormSubmitBlock">
			<button class="b-btn-l" type="submit" name="send" value="wnd_FormBlock_389606346" readonly="">
				<span class="form-submit-text b-btn-t wnd-touchwysiwyg" data-wnd_text_container="1" id="wnd_FormSubmitBlock_405407566_wsw" data-wnd_placeholder="Pritisnite ovdje za uređivanje...">Poslati</span>
			</button>
		</div>
	</form>
</div>
