<div class="prose">
  <h1>Madmin Dashboard</h1>
  <p>Create <code>app/views/madmin/dashboard/show.html.erb</code> to customize your dashboard.</p>
</div>
<br />
<div class="prose">
  <h3>Madmin Dashboard Edit</h3>
  <p>Update <code>app/views/madmin/dashboard/edit.html.erb</code> to customize your dashboard.</p>
</div>
