<div class="w-full">
  <div class="min-w-full">
    <div class="grid gap-4 grid-cols-3" id="Task_1">
      <div class="my-3">
        <strong class="block font-medium.mb-1">Description:</strong>
        complete page 2 in math exercise book
      </div>
      <div class="my-3">
        <strong class="block font-medium.mb-1">Notes:</strong>
        try also the advanced exercises, but don't spend more than 10 minutes on them
      </div>
      <div class="my-3">
        <strong class="block font-medium.mb-1">Deadline:</strong>
        My Deadline
      </div>
    </div>
    <div class="grid gap-4 grid-cols-3" id="Task_2">
      <div class="my-5">
        <strong class="block font-medium.mb-1">Description:</strong>
        Description
      </div>
      <div class="my-5">
        <strong class="block font-medium.mb-1">Notes:</strong>
        Some flippin' notes
      </div>
      <div class="my-5">
        <strong class="block font-medium.mb-1">Deadline:</strong>
        My Deadline
      </div>
    </div>
  </div>
</div>
